
@import "./variables.scss";

.navbar-background{
  background-color: var(--navbar-background);
}
.nav-menu-item{
  font-size: var(--navbar-items-font-size);
  font-weight: var(--navbar-items-font-weight);
  /* transition: 0.2s ease-in-out; */
  position: relative;
}
 
.nav-menu-item.active {
  /* font-size: 18px !important; */
  border-bottom: 3px solid $primary !important;
  color: $primary !important;
  font-weight: bold !important;
}
 

 

.custom-app-name {
  font-size: 24px;
  font-weight: 700;
  color: var(--navbar-app-name);
  margin-left: var(--appname-margin-left);
  margin-right: var(--appname-margin-right);
  margin-top: var(--appname-margin-top);
  margin-bottom: var(--appname-margin-bottom);
  white-space: normal;
  word-break: break-word;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
  padding-block: 	0.3rem;
}
.moderate-name{
  font-size: 16px;
  padding-block: 	0.3rem;
}
.long-name{ 
  font-size: 14px;
  font-weight: 600;
  padding-block: 	0.3rem;
}
.custom-logo{
  width: var(--navbar-logo-width);
}

@media (max-width: 768px) {
  .main-sidenav {
    display: none;
  }
  .main-container {
     margin-left: 0;  
}
}

