.custom-navbar {
  display: none;
  min-height: 4.625rem;
}

.navbar-toggler {
  margin-left: 0;
  border: 0;
}

.navbar-collapse {
  transform: translateX(-100%);
}

.navbar-collapse.show {
  transform: translateX(0);
}
.custom-navbar {
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
}
.offcanvas-body {
  padding: 0;
}

@media (max-width: 768px) {
  .custom-navbar {
    display: flex;
    box-shadow: 0px 2px 4px 0px rgba(48, 52, 54, 0.08);
  }
  .offcanvas.showing,
  .offcanvas.show:not(.hiding) {
    max-width: 13.7rem;
  }
}
.offcanvas-header {
  padding: 1.75rem 1.5rem;
  max-height: 4.625rem;
}
.offcanvas.offcanvas-start {
  width: 13.7rem;
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-basis: auto;
  }
}
@media (min-width: 992px) {
  .child-sidenav {
    display: none;
  }
  .offcanvas-header {
    display: none;
  }
}
