@import "../variables.scss";
.sidenav {
  height: 100%;
  width: 12rem;
  position: fixed;
  z-index: 1050;
  left: 0;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-nav);

  .logo-container {
    display: flex;
    align-items: center;
    min-height: 4.625rem;
    padding: var(--spacer-150);
  }

  .options-container {
    text-align: center;
    flex-grow: 1;
    overflow-y: auto;
  }

  .accordion-button {
    color: var(--navbar-main-menu-active-font-color);
    background-color: var(--navbar-bg-color);
    gap: 0.5rem;

    &:focus {
      box-shadow: none;
    }

    &::after {
      order: -1;
      margin-right: 0.625rem;
      margin-left: 0;
      display: none;
    }

    &:hover {
      background-color: var(--navbar-menu-hover-bg-color);
    }

    &:not(.collapsed) {
      color: var(--navbar-main-menu-active-font-color);
      background-color: var(--navbar-main-menu-active-bg-color);
    }

  }

  .accordion-body {
    color: var(--navbar-main-menu-active-font-color);
    padding: 0;
  }

  .accordion-item {
    background-color: var(--navbar-bg-color);
    border: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-size-sm);
    line-height: var(--text-line-height);
    letter-spacing: var(--text-space-xs);
    margin-bottom: 0.5rem;

    &:first-of-type > .accordion-header .accordion-button {
      border-top-left-radius: none;
      border-top-right-radius: none;
    }
  }

  .accordion-link {
    display: block;
    padding-block: var(--spacer-100);
    padding-inline: var(--spacer-250) var(--spacer-100);
    color: var(--navbar-main-menu-active-font-color);
    text-decoration: none;
    text-align: left;
    width: 100%;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: var(--navbar-main-menu-active-font-color);
      background-color: var(--navbar-menu-hover-bg-color);
    }

    &.active {
      background-color: var(--navbar-active-submenu-bg-color);
      color: var(--navbar-active-submenu-font-color);
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-xl);
      line-height: var(--text-line-height);
      letter-spacing: var(--text-space-sm);
    }
  }

  .user-container {
    text-align: center;
    border-top: 0.031rem solid var(--ff-gray-600);
    color : var(--navbar-main-menu-active-font-color);
    .username {
      color: var(--navbar-main-menu-active-font-color);
      padding: var(--spacer-100);
      margin: 0;
      text-align: left;
      display: flex;
      gap: var(--spacer-050);

      h5 {
        margin: 0;
      }
      &:hover {
        background-color: none;
      }
    }

    .sign-out-button {
      text-align: left;
      padding: var(--spacer-100) var(--spacer-150);
      border: none;
      cursor: pointer;
      color: var(--navbar-main-menu-active-font-color);

      &:hover {
        background-color: var(--navbar-menu-hover-bg-color);
      }
    }

    .user-icon {
      width: 2rem;
      height: 2rem;
      border-radius: 6.25rem;
      background-color: var(--navbar-main-menu-active-bg-color);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: var(--font-weight-xs);
    }

    .user-name {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-sm);
      line-height: var(--text-line-height);
      letter-spacing: var(--text-space-xs);
      background-color: var(--navbar-bg-color) !important;
      margin: 0;
      cursor: pointer;
      border: none;
      margin-left: 0;
      max-width: 9rem;
      :hover{
        background-color: none;
      }
    }

    .user-email {
      overflow: hidden;
      white-space: nowrap;
      color: var(--navbar-main-menu-active-font-color);
      text-overflow: ellipsis;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-xs);
      line-height: normal;
      text-transform: lowercase;
      max-width: 7.5rem;
      cursor: pointer;
      margin-bottom: 0;
      margin-left: var(--spacer-050);

    }
  }

  .accordion-header {
    &.no-arrow .accordion-button::after {
      display: none;
    }

    &.no-arrow .accordion-button {
      padding-left: 3.2rem;
    }

    &.active .accordion-button {
      background-color: var(--navbar-active-submenu-bg-color);
      color: var(--navbar-active-submenu-font-color);
    }
  }
}

.custom-chevron {
  transition: transform 0.3s ease;

  .accordion-button:not(.collapsed) & {
    transform: rotate(180deg);
  }
}

.multitenancy-header {
  height: var(--client-nav);
  box-shadow: var(--shadow-lg);
  background-color: var(--navbar-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacer-100);
}

.multitenancy-logo {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.multitenancy-app-name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-lg);
  color: var(--navbar-main-menu-active-font-color);
}

.active-header .accordion-button {
  background-color: var(--navbar-main-menu-active-bg-color);
}


@media (max-width: 768px) {
  .sidenav .logo-container {
    display: none;
  }
  .main-sidenav {
    display: none;
  }
  .sidenav {
    height: calc(100% - var(--header-close-btn));
  }
}

.date-time-network-container {
  color: $white;
  padding: 20px;
  position: relative;
}

.date-time-network-container .sun-moon-container {
  position: absolute;
  top: 32px;
  left: 15px;
}

.date-time-network-container .sun-moon-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
}

.date-time-network-container .sun {
  background-color: #facc15;
}

.date-time-network-container .moon {
  background-color: #cbd5e0;
}

.date-time-network-container .time {
  font-size: 28px;
  font-weight: bold;
  margin-left: 40px;
}

.date-time-network-container .date {
  font-size: 13px;
  color: #cbd5e0;
  margin-left: 8px;
  margin-top: 4px;
}

.date-time-network-container .network-icon {
  position: absolute;
  top: 23px;
  right: 20px;
}
