//New Colors
$black: #000000;
$white: #ffffff;
$green: #57C20A;
$green-dark: #006621;

//primary shades
$primary: #253DF4;
$primary-light: #E2E1FC;

//gray shades
$gray-darkest: #303436;
$gray-dark: #4C4C4C;
$gray-medium-dark: #AFB4B6;
$gray-medium: #E4E6E7;
$gray-light: #F2F2F3;


// variables added by Max
$base: 1rem;
$lineThin: 1px;
$lineThick: $lineThin*2;

$fontBase: $base;
$fontSmallest: $fontBase*0.875;
$fontLineHeight: 1.2;

$fontModalTitle: $fontBase*1.5;


$borderRadiusHeightESM: $base*0.78; // 12.5px
$borderRadiusHeightSM: $base*1.094; // 17.5px
$borderRadiusHeightM: $base*1.344;  // 21.5px
$borderRadiusHeightL: $base*1.594; // 25.5px
$borderRadiusModal: $base*1.5; // 24px

$colorDivider: $gray-medium;
$colorDividerDark: $gray-medium-dark;

$modalWidthSmall: $base*60;
$modalWidthLarge: $base*75;

$navPadding: $base;

$animSpeed: 300ms;


.sidenav {  
  height: 100%;
  width: 12rem;
  position: fixed;
  z-index: 1050;
  left: 0;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-nav);

  .logo-container {
    display: flex;
    align-items: center;
    min-height: 4.625rem;
    padding: var(--spacer-150);
  }

  .options-container {
    text-align: center;
    flex-grow: 1;
    overflow-y: auto;
  }

  .accordion-button {
    gap: $base;
    padding: $navPadding;

    color: var(--navbar-main-menu-active-font-color);
    font-size: $fontSmallest;
    font-weight: 700;
    
    background-color: var(--navbar-bg-color);
    gap: 0.5rem;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    &::after {
      order: -1;
      margin-right: 0.625rem;
      margin-left: 0;
      display: none;
    }

    &:hover {
      background-color: var(--navbar-menu-hover-bg-color);
    }

    &:not(.collapsed) {
      color: var(--navbar-main-menu-active-font-color);
      background-color: var(--navbar-main-menu-active-bg-color);

      & > svg {
        transform: rotate(180deg);
      }
    }

  }

  .accordion-body {
    color: var(--navbar-main-menu-active-font-color);
    padding: 0;
  }

  .accordion-item {
    background-color: var(--navbar-bg-color);
    border: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: var(--text-line-height);
    margin-bottom: 0.5rem;

    &:first-of-type > .accordion-header .accordion-button {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
    &:last-of-type > .accordion-header .accordion-button.collapsed {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .accordion-link {
    display: block;
    width: 100%;
    
    padding-block: var(--spacer-100);
    padding-inline: var(--spacer-250) var(--spacer-100);

    font-size: $fontSmallest;
    font-weight: 700;
    line-height: $fontLineHeight;
    color: var(--navbar-main-menu-active-font-color);
    text-align: left;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: $primary-light;
    }

    &.active {
      background-color: $gray-darkest;
      color: $white;
    }
  }

  .user-container {
    color : var(--navbar-main-menu-active-font-color);

    border-top: $lineThin solid $colorDivider;

    & > button {
      display: flex;
      align-items: center;
      width: 100%;

      padding: $navPadding;

      gap: calc($navPadding/2);

      border: none;
      background-color: transparent;

      transition: all $animSpeed;

      &:hover {
        background-color: $primary-light;
      }
    }

    p {
      margin: 0;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      text-align: left;

      & > div {
        display: flex;

        & > p {
          overflow: hidden;

          flex-grow: 1;
          width: 2rem;
          
          color: $gray-darkest;
          font-weight: 400;
          font-size: $fontSmallest;
          line-height: $fontLineHeight;
          white-space: nowrap;
          text-overflow: ellipsis;

          &.user-name {
            font-weight: 700;
          }
        }
      }
    }

    .sign-out-button {
      justify-content: center;
      padding: var(--spacer-100) var(--spacer-150);
      border: none;
      cursor: pointer;
      color: var(--navbar-main-menu-active-font-color);

      &:hover {
        background-color: $primary-light;
      }
    }

    .user-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: var(--font-weight-xs);
    }

    .user-name {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-sm);
      line-height: var(--text-line-height);
      letter-spacing: var(--text-space-xs);
      background-color: var(--navbar-bg-color) !important;
      text-align: left;
      margin-left: var(--spacer-050) !important;
      margin: 0;
      cursor: pointer;
      border: none;
      margin-left: 0;
      max-width: 9rem;
      :hover{
        background-color: none;
      }
    }

    .user-email {
      overflow: hidden;
      white-space: nowrap;
      color: var(--navbar-main-menu-active-font-color);
      text-overflow: ellipsis;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-xs);
      line-height: normal;
      text-transform: lowercase;
      max-width: 7.5rem;
      cursor: pointer;
      margin-bottom: 0;
      margin-left: var(--spacer-050);

    }
  }

  .accordion-header {
    &.no-arrow .accordion-button::after {
      display: none;
    }


    &.active-header .accordion-button {
      background-color: var(--navbar-active-submenu-bg-color);
      color: var(--navbar-active-submenu-font-color);
    }
  }
}

.custom-chevron {
  transition: transform 0.3s ease;

  .accordion-button:not(.collapsed) & {
    transform: rotate(180deg);
  }
}

.multitenancy-header {
  height: var(--client-nav);
  box-shadow: var(--shadow-lg);
  background-color: var(--navbar-bg-color);
  display: flex;
  align-items: center;
  padding: 0 var(--spacer-100);
}

.multitenancy-logo {
  height: var(--custom-logo-height) !important;
  margin-right: 0.5rem;
}

.multitenancy-app-name {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-lg);
  color: var(--navbar-main-menu-active-font-color);
}

.active-header .accordion-button {
  background-color: var(--navbar-main-menu-active-bg-color);
}


@media (max-width: 768px) {
  .sidenav .logo-container {
    display: none;
  }
  .main-sidenav {
    display: none;
  }
  .sidenav {
    height: calc(100% - var(--header-close-btn));
  }
}


