@import '../../../forms-flow-theme/scss/v8-scss/mixins';

//New Colors
$black: #000000;
$white: #ffffff;
$green: #57C20A;
$green-dark: #006621;

//primary shades
$primary: #253DF4;
$primary-light: #E2E1FC;

//gray shades
// $gray-darkest: #303436;
$gray-darkest: #7C7D7F;
$gray-dark: #4C4C4C;
$gray-medium-dark: #AFB4B6;
$gray-medium: #E4E6E7;
$gray-light: #F2F2F3;



// VARIABLES ADDED BY MAX

//base
$base: 1rem;
$lineThin: 1px;
$lineThick: $lineThin*2;

// fonts
$fontBase: $base;
$fontSmallest: $fontBase*0.875;
$fontLineHeight: 1.2;

$fontModalTitle: $fontBase*1.5;

// borders
$borderRadiusHeightESM: $base*0.78; // 12.5px
$borderRadiusHeightSM: $base*1.094; // 17.5px
$borderRadiusHeightM: $base*1.344;  // 21.5px
$borderRadiusHeightL: $base*1.594; // 25.5px
$borderRadiusModal: $base*1.5; // 24px

// color globals
$colorDivider: $gray-medium;
$colorDividerDark: $gray-medium-dark;

// modals
$modalWidthSmall: $base*60;
$modalWidthLarge: $base*75;

// nav
$navPadding: $base;
$navSpacing: $base;

// transitions
$animSpeed: 300ms; 


.sidenav {  
  height: 100%;
  width: var(--navbar-width);
  position: fixed;
  z-index: 1050;
  left: 0;
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
   transition: width 0.1s ease-in;
   cursor: default;

  &:not(:hover) {
    transition: width 0.6s ease-out; // collapse takes 6s
  }

  &:hover {
    width: var(--navbar-width); // expanded width
  }

  .menu-toggle-icon {
    padding: 0.87rem 0.75rem;
    padding-bottom: 0;
    transition: transform 0.3s ease;
    cursor: default;
    
    svg {
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    &.open svg {
      transform: rotate(180deg);
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    min-height: 4.625rem;
    // padding: var(--spacer-150);
    padding: 1.313rem 1rem;
  }

  .options-container {
    text-align: center;
    // flex-grow: 1;
    overflow-y: auto;
    margin-bottom: auto;
  }

  .accordion {
    display: flex;
    flex-direction: column;
    gap: calc($navSpacing/2);
  }

  .accordion-button {
    gap: 0.44rem;
    // gap: $navSpacing;
    padding: $navPadding;

    color: var(--navbar-menu-font-color);
    // color: #7C7D7F !important;
    font-size: $fontSmallest;
    padding-left: 0;
    // font-weight: 700;
    
    background-color: var(--nav-bg-color);
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }

    &::after {
      order: -1;
      margin-right: 0.625rem;
      margin-left: 0;
      display: none;
    }

    &:hover {
      // background-color: var(--navbar-menu-hover-bg-color);
      font-weight: 500;
      color: var(--navbar-menu-font-color) !important;
    }

    &:not(.collapsed) {
      // background-color: var(--navbar-main-menu-active-bg-color);
      
      // & > svg {
        //   transform: rotate(180deg);
        // }
        @include font-style(0.938rem,500,var(--navbar-menu-font-color));
      
      background-color: var(--nav-bg-color);
      box-shadow: none;
    }

  }

  .accordion-body {
    color: var(--navbar-main-menu-active-font-color);
    padding: 0;
  }

  .accordion-item {
    background-color: var(--nav-bg-color);
    border: none;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: var(--text-line-height);
    border-bottom: 1px solid #E5E5E5;
    margin: 0 1rem;

    &:first-of-type > .accordion-header .accordion-button {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
    &:last-of-type > .accordion-header .accordion-button.collapsed {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    &:last-of-type{
      border-bottom: none;
    }
  }

  .accordion-item:last-of-type{
    border-radius: 0;
  }

  .accordion-link {
    display: block;
    width: 100%;
    
    padding: $navPadding 0;
    // padding-left: calc($navPadding + $navSpacing + $base);
    padding-left: 1.44rem;

    // font-size: $fontSmallest;
    // font-weight: 700;
    line-height: $fontLineHeight;
    // color: var(--navbar-main-menu-active-font-color);
    text-align: left;
    text-decoration: none;
    cursor: pointer;

    color: var(--navbar-submenu-font-color);
    font-size: 0.875rem;

    &:hover {
      text-decoration: none;
      // background-color: var(--navbar-hover-submenu-bg-color);
      // color: var(--navbar-hover-submenu-font-color);
      // font-size: var(--navbar-hover-submenu-font-size) !important;
      // font-weight: var(--navbar-hover-submenu-font-weight) !important;
      // color: #525254;
      color: var(--navbar-menu-font-color);
      font-weight: 500;
    }

    &.active {
      // color: #525254;
      
      @include font-style( 0.875rem,500,var(--navbar-menu-font-color));
      line-height: 1.05rem;
      // background-color: var(--navbar-active-submenu-bg-color);
      // color: var(--navbar-active-submenu-font-color);
      // font-size: var(--navbar-active-submenu-font-size) !important;
      // font-weight: var(--navbar-active-submenu-font-weight) !important;
    }
  }

  .user-container {
    color : var(--navbar-main-menu-active-font-color);

    // border-top: $lineThin solid $colorDivider;

    & > button {
      display: flex;
      align-items: center;
      width: 100%;

      padding: $navPadding;

      gap: calc($navPadding/2);

      border: none;
      background-color: transparent;

      transition: all $animSpeed;

      &:hover {
        background-color: var(--navbar-hover-submenu-bg-color);
      }
      &:first-of-type{
        border-bottom: $lineThin solid $colorDivider;
      }
    }

    p {
      margin: 0;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      text-align: left;

      & > div {
        display: flex;

        & > p {
          overflow: hidden;

          @include font-style($fontSmallest,400,var(--navbar-menu-font-color));
          flex-grow: 1;
          width: 2rem;
          line-height: $fontLineHeight;
          white-space: nowrap;
          text-overflow: ellipsis;

          // &.user-name {
          //   font-weight: 700;
          // }
        }
      }
    }

    .sign-out-button {

      p {
        width: 100%;

        color: var(--navbar-menu-font-color) !important;
        // color: #525254;
        font-size: $fontSmallest;
        line-height: $fontLineHeight;
        // font-weight: 700;
      }
      text-align: left;

      &:hover {
        background-color: var(--navbar-hover-submenu-bg-color);
      }
    }

    .user-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 2rem;
      // height: 2rem;

      width: 1rem;
      height: 1rem;
      
      font-weight: 400;
      // font-size: $fontSmallest;
      font-size: 0.5rem;
      
      border-radius: 50%;
      background-color: $gray-medium;
      // font-size: 14px;
      // font-weight: var(--font-weight-xs);
    }

    // .user-name {
    //   font-size: var(--font-size-sm);
    //   font-weight: var(--font-weight-sm);
    //   line-height: var(--text-line-height);
    //   letter-spacing: var(--text-space-xs);
    //   background-color: var(--nav-bg-color) !important;
    //   text-align: left;
    //   margin-left: var(--spacer-050) !important;
    //   margin: 0;
    //   cursor: pointer;
    //   border: none;
    //   margin-left: 0;
    //   max-width: 9rem;
    //   :hover{
    //     background-color: none;
    //   }
    // }

    // .user-email {
    //   overflow: hidden;
    //   white-space: nowrap;
    //   color: var(--navbar-main-menu-active-font-color);
    //   text-overflow: ellipsis;
    //   font-size: var(--font-size-xs);
    //   font-weight: var(--font-weight-xs);
    //   line-height: normal;
    //   text-transform: lowercase;
    //   max-width: 7.5rem;
    //   cursor: pointer;
    //   margin-bottom: 0;
    //   margin-left: var(--spacer-050);

    // }
  }

  .accordion-header {
    &.no-arrow .accordion-button::after {
      display: none;
    }


    // &.active-header .accordion-button {
      // background-color: var(--navbar-active-submenu-bg-color);
      // color: var(--navbar-active-submenu-font-color);

    // }
  }
}

.collapsed{
   .accordion-button{
    padding: 16px 0 16px 0 !important;
  }
}

.custom-chevron {
  transition: transform 0.3s ease;

  .accordion-button:not(.collapsed) & {
    // transform: rotate(180deg);
    transform: rotate(90deg);
  }


}

.multitenancy-header {
  height: var(--client-nav);
  box-shadow: var(--shadow-lg);
  background-color: var(--nav-bg-color);
  display: flex;
  align-items: center;
  padding: 0 var(--spacer-100);
}

.multitenancy-logo {
  height: var(--custom-logo-height) !important;
  margin-right: 0.5rem;
}

.multitenancy-app-name {
  @include font-style(var(--font-size-md),var(--font-weight-lg),var(--navbar-main-menu-active-font-color));
}

.active-header .accordion-button {
  // background-color: var(--navbar-main-menu-active-bg-color);
  // color: #525254;
  color: var(--navbar-menu-font-color);
  font-size: 0.938rem;
  font-weight: 500;
  @include font-style(0.938rem,500,var(--navbar-main-menu-font-color));
}


@media (max-width: 768px) {
  .sidenav .logo-container {
    display: none;
  }
  .main-sidenav {
    display: none;
  }
  .sidenav {
    height: calc(100% - var(--header-close-btn));
  }
}