/* This file contains style for the main classes of application */

body {
    font-size: 16px;
    font-family: Nunito Sans, SemiBold;
    overflow: hidden; 
    background-color: var(--color-main-bg);
  }
  
  .main-container{
    max-height: calc(100vh - var(--navbar-height));
    margin-top: var(--navbar-height);
    overflow-y: auto;
   
  }
  
  .min-container-height{
    min-height: calc(100vh - 170px);
  }