// Variables for reused values
$primary-light: var(--ff-primary-light);
$gray-dark: var(--ff-gray-dark);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
.ai-modal {
  .modal-dialog {
    margin-top: 2.5vh !important;
    margin-bottom: 2.5vh !important;
    height: 95vh;
  }

  .modal-header {
    border-bottom: 1px solid $gray-medium !important;
  }

  .modal-body {
    height: 84vh;

    .container {
      height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0 !important;
    }

    .row {
      height: 100%;
      margin: 0;
    }

    .chat-column {
      padding: 0;
      max-height: 100%;
      // padding-block: var(--spacer-200);
      padding-bottom: var(--spacer-200);
      padding-inline: var(--spacer-250);
    }

    .form-column {
      background-color: $gray-medium !important;
      border-bottom-right-radius: var(--radius-0150) !important;
      height: 100%;
    }

    .welcome-container {
      .welcome-image {
        height: 100%;

        img {
          max-height: 80%;
          width: auto;
        }
      }
    }

    .progress-bar-container {
      width: 50%;
      margin-block: var(--spacer-200);
    }

    .ai-chat {
      height: 100vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;

      p {
        margin: 0;
      }

      ul {
        padding: 1rem 0 0 0;
        list-style-type: none;
        // max-height: 29.9rem;
        overflow-y: scroll;
        margin-bottom: 0;
      }

      li {
        margin-bottom: var(--spacer-100);
        line-height: var(--text-line-height);
        font-weight: var(--font-weight-sm);
        font-size: var(--font-size-sm);

        /* Add fade-in animation */
        animation: fadeIn 0.5s ease-in-out;

        .ai-message-box {
          margin-right: var(--spacer-200);
          padding: var(--spacer-200);
          background: $primary-light !important;
          border-radius: var(--radius-0100);
          margin-top: var(--spacer-050);
        }

        .ai-user-message {
          background-color: $gray-medium !important;
          padding: var(--spacer-200);
          margin-left: var(--spacer-200);
          border-radius: var(--radius-0100);
          margin-bottom: var(--spacer-100);
        }

        .ai-response-loading {
          border-radius: var(--radius-0100);
          padding: var(--spacer-200);
          background: $primary-light !important;
          max-width: 0.938rem;

          .loading-dots {
            display: flex;
            align-items: center;
            justify-content: center;

            div {
              width: 0.125rem;
              height: 0.125rem;
              background-color: $gray-dark !important;
              border-radius: 50%;
              margin: 0 2px;
              animation: loading 1s infinite;

              &:nth-child(1) {
                animation-delay: 0s;
              }

              &:nth-child(2) {
                animation-delay: 0.2s;
              }

              &:nth-child(3) {
                animation-delay: 0.4s;
              }
            }

            @keyframes loading {

              0%,
              80%,
              100% {
                transform: scale(1);
              }

              40% {
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }

    .danger-message {
      color: var(--ff-red-000);
    }

    .form-container {
      overflow-y: scroll;
      -ms-overflow-style: auto;
      width: 100%;
      height: 100%;
      padding: var(--spacer-200) var(--spacer-250);

      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $gray-medium;
        border: 1px solid $gray-medium;
        border-radius: var(--radius-0125);
      }
    }


    .button-container {
      background-color: var(--ff-white) !important;
      padding: var(--spacer-200) var(--spacer-100);
      border-bottom-right-radius: var(--radius-0150) !important;
      border-left: 1px solid $gray-medium !important;
      ;
    }

    padding: 0;
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* Start slightly below */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Settle in original position */
  }
}