.ai-modal {
  .modal-dialog {
    margin-top: 2.5vh !important;
    margin-bottom: 2.5vh !important;
    width: 95vw;
    height: 95vh;
    max-width: 90%;
  }
  .modal-body {
    height: 84vh;

    .container {
      height: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    .row {
      height: 100%;
      margin: 0;
    }

    .chat-column {
      padding: 0;
      // max-height: 36.5rem;
      max-height: 100%;
      padding-block: var(--spacer-200);
      padding-inline: var(--spacer-250);
    }

    .form-column {
      background-color: var(--ff-gray-100) !important;
      border-bottom-right-radius: var(--radius-0150) !important;
      height: 100%;
    }
    .welcome-image {
      height: 100%;

      img {
        max-height: 80%;
        width: auto;
      }

      .progressBar {
        width: 50%;
        margin-block: var(--spacer-200);
      }
    }

    .loading-container {
      max-height: 30rem;
    }

    .ai-chat {
      &::-webkit-scrollbar {
        display: none;
      }

      p {
        margin: 0;
      }

      ul {
        padding: 0;
        list-style-type: none;
        max-height: 29.9rem;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-bottom: var(--spacer-100);
      }

      li {
        margin-bottom: var(--spacer-100);
        line-height: var(--text-line-height);
        font-weight: var(--font-weight-sm);
        font-size: var(--font-size-sm);
        .ai-message-box {
          margin-right: var(--spacer-200);
          padding: var(--spacer-200);
          background: var(--base-base-10, #e7e9fe) !important;
          border-radius: var(--radius-0100);
          margin-top: var(--spacer-050);
        }

        .ai-user-message {
          background-color: var(--ff-gray-100) !important;
          padding: var(--spacer-200);
          margin-left: var(--spacer-200);
          border-radius: var(--radius-0100);
          margin-bottom: var(--spacer-100);
        }

        .ai-response-loading {
          border-radius: var(--radius-0100);
          padding: var(--spacer-200);
          background: var(--base-base-10, #e7e9fe) !important;
          max-width: 0.938rem;

          .loading-dots {
            display: flex;
            align-items: center;
            justify-content: center;

            div {
              width: 0.125rem;
              height: 0.125rem;
              background-color: var(--ff-gray-800, #303436) !important;
              border-radius: 50%;
              margin: 0 2px;
              animation: loading 1s infinite;

              &:nth-child(1) {
                animation-delay: 0s;
              }

              &:nth-child(2) {
                animation-delay: 0.2s;
              }

              &:nth-child(3) {
                animation-delay: 0.4s;
              }
            }

            @keyframes loading {
              0%,
              80%,
              100% {
                transform: scale(1);
              }
              40% {
                transform: scale(1.5);
              }
            }
          }
        }
      }
    }
    .danger-message {
      color: var(--ff-red-000);
    }
    .form-container {
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      width: 90%;
      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .button-container {
      background-color: var(--ff-white, #ffffff) !important;
      height: 20%;
      border-bottom-right-radius: var(--radius-0150) !important;
    }

    padding: 0;
  }
}
