// $custom-btn-hover-bg: $gray-300;
.btn-light {
    background-color: $gray-100 !important;
}

.btn-light:hover {
    border: 1px solid var(--ff-gray-400) !important;
    background-color: var(--ff-gray-300) !important;
}

.form-select {
    color: $dark !important;
}

.btn-info {
    color: $white !important;
}

.btn-link {
    text-decoration: none !important;
}

.btn-link:hover {
    text-decoration: underline !important;
}