@import '_mixins';
// Variables for reused values
$primary: var(--ff-primary);
$primary-light: var(--ff-primary-light);
$black-color: var(--ff-black);
$white-color: var(--ff-white);
$gray-dark: var(--ff-gray-dark);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
$dropdown-btn-size: 3.2275rem;
$btn-border-radius: 50%;
$btn-font-weight: bold;

.btn-light {
  background-color: $white-color !important;

  &:hover {
    opacity: 0.8;
  }
}

.form-select {
  color: $dark !important;
}

.btn-info {
  color: $white-color !important;
}

.btn-link {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }
}


.btn.signature-pad-refresh {
  z-index: 99 !important;
}

.btn-right {
  float: right;
  margin-left: auto;
}

.btn-outline-primary {
  border-color: $primary-light !important;
}

.btn-center {
  float: right;
  margin-left: auto;
}

.button_font {
  font-size: var(--font-size-xs);
  font-weight: $btn-font-weight;
}

.delete_button {
  color: var(--ff-danger);
  cursor: pointer;
  transition: transform 0.5s, color 0.5s;

  &:hover {
    color: var(--ff-danger); // This line can be omitted since the color remains the same.
  }

  &:active {
    transform: scale(1.3);
    color: transparent;
  }
}


.bg-primary {
  background-color: $primary!important;
}

.table-primary {
  --bs-table-color: #fff;
  --ff-table-bg: $primary !important;
}

.btn-wizard-nav-submit,
.btn-wizard-nav-next,
.btn-wizard-nav-previous {
  margin-left: 0.3125rem;
}

.btn-primary:focus-visible,
.btn.btn-link:focus-visible,
.btn.btn-link:focus,
.btn-info:focus-visible,
.btn-info:focus,
.btn-light:focus-visible,
.btn-light:focus,
.btn-outline-primary:focus-visible,
.btn-outline-primary:focus,
.btn-secondary.focus-visible,
.btn-secondary:focus,
.nav-link:focus-visible,
.form-check-input:focus-visible,
.out-line:focus-visible {
  outline: 0.1875rem solid $primary-light !important;
}


.default-button-styles {
  font-size: var(--font-size-sm) !important;
  padding: var(--spacer-075) var(--spacer-150) !important;
  font-weight: var(--font-weight-xl) !important;
  border-radius: var(--radius-md) !important;
  width: fit-content;
}

.btn {
  border: none !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: var(--text-line-height) !important;
  // Default styles for buttons for all sizes . Useful for formio buttons
  @extend .default-button-styles;

  &.btn-primary,
  &.btn-success {
    background-color: var(--primary-btn-bg-color) !important;
    border: 1px solid var(--primary-btn-bg-color) !important;
    color: var(--primary-btn-font-color) !important;
    &:focus {
      outline: none !important;
    }

    &:hover {
      opacity: 0.8;
      box-shadow: var(--shadow-md) !important;
    }

    &:active {
      background-color: var(--primary-btn-bg-color) !important;
      color: var(--primary-btn-font-color) !important;
      border: 0.0625rem solid $primary !important;
    }

    &.btn:disabled {
      background-color: $gray-medium-dark !important;
      color: var(--primary-btn-font-color) !important;
      border-color: $gray-medium-dark !important;
    }

    &+.dropdown-toggle+.dropdown-menu {
      border-color: var(--primary-btn-bg-color) !important;

      .dropdown-item {
        color: var(--primary-btn-bg-color) !important;

        &:hover {
          background-color: transparent !important;
          color: var(--primary-btn-bg-color) !important;
        }
      }
    }
  }

  &.btn-text {
    color: $primary !important;
  }

  &.btn-secondary {
    border: none;
    color: var(--secondary-btn-font-color) !important;
    background: var(--secondary-btn-bg-color) !important;
    line-height: var(--text-line-height) !important;

    &:hover {
      opacity: 0.8;
      font-weight: var(--font-weight-xl) !important;
    }

    &:focus {
      outline: none !important;
    }
  }

  &.btn-dark {
    background-color: $gray-dark !important;
    border: 1px solid $gray-dark !important;

    &:hover {
      opacity: 0.8;
      box-shadow: var(--shadow-md) !important;
    }

    &:active {
      background-color: $white-color !important;
      color: var(--default-font-color) !important;
      border: 0.0625rem solid $gray-dark !important;
    }

    &+.dropdown-toggle+.dropdown-menu {
      border: 0.0625rem solid $gray-dark !important;

      .dropdown-item {
        color: var(--default-font-color) !important;

        &:hover {
          background-color: transparent !important;
          color: var(--default-font-color) !important;
        }
      }
    }
  }

  &.btn-sm {
    font-size: var(--font-size-xs) !important;
    padding: var(--spacer-050) var(--spacer-100) !important;
    font-weight: var(--font-weight-xl) !important;
    border-radius: var(--radius-sm) !important;

    ~.dropdown-menu .dropdown-item {
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-xl) !important;
      line-height: var(--text-line-height);
      padding: var(--spacer-050) var(--spacer-100) !important;
    }

    .dotted-spinner {
      font-size: var(--font-size-xs);
    }
  }

  &.btn-md {
    font-size: var(--font-size-sm) !important;
    padding: var(--spacer-075) var(--spacer-150) !important;
    font-weight: var(--font-weight-xl) !important;
    border-radius: var(--radius-md) !important;

    ~.dropdown-menu .dropdown-item {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-xl) !important;
      line-height: var(--text-line-height);
      padding: var(--spacer-075) var(--spacer-150) !important;
    }

    .dotted-spinner {
      font-size: var(--font-size-sm);
    }
  }

  &.btn-lg {
    font-size: var(--font-size-sm) !important;
    padding: var(--spacer-100) var(--spacer-200) !important;
    font-weight: var(--font-weight-xl) !important;
    border-radius: var(--radius-lg) !important;

    ~.dropdown-menu .dropdown-item {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-xl) !important;
      line-height: var(--text-line-height);
      padding: var(--spacer-100) var(--spacer-200) !important;
    }

    .dotted-spinner {
      font-size: var(--font-size-md);
    }
  }
}

.dropdown.btn-group {
  .btn {
    border-radius: 0 !important;
  }

  .btn-primary.dropdown-toggle {
    opacity: 0.8;
  }

  .btn-dark.dropdown-toggle {
    opacity: 0.8;
  }

  .dropdown-menu {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
    border-bottom-left-radius: var(--radius-lg) !important;
    border-bottom-right-radius: var(--radius-lg) !important;
  }

  &.show {
    .btn {
      border-bottom-left-radius: 0 !important;
    }

    .dropdown-toggle {
      border-bottom-right-radius: 0 !important;
    }
  }
}

.btn-group {

  >.btn:first-child,
  >.btn:first-child:active {
    border-top-left-radius: var(--radius-lg) !important;
    border-bottom-left-radius: var(--radius-lg) !important;
  }

  >.btn:nth-child(2),
  >.btn:nth-child(2):active {
    border-top-right-radius: var(--radius-lg) !important;
    border-bottom-right-radius: var(--radius-lg) !important;
  }
}

.default-arrow {
  &::after {
    display: none !important;
  }

  svg {
    transition: transform 0.3s ease;
    transform: rotate(0deg);

    &.collapsed {
      transform: rotate(180deg);
    }
  }

  &.collapsed svg {
    transform: rotate(180deg);
  }

  &:not(.collapsed) svg {
    transform: rotate(0deg);
  }
}

.page-item {
  margin-left: 0.3125rem !important;
  margin-right: 0.3125rem !important;

  .page-link {
    border-radius: $btn-border-radius !important;
    border-color: transparent !important;

    &:hover {
      background-color: $gray-medium !important;
    }
  }

  &.active .page-link {
    border-color: transparent !important;
    color: $black-color !important;
    background-color: $gray-medium !important;
    font-weight: $btn-font-weight;
    outline: none !important;
  }

  &:first-child .page-link,
  &:last-child .page-link {
    display: none !important;
  }

  &:nth-child(2) .page-link,
  &:nth-last-child(2) .page-link {
    border: none !important;
    background: none !important;
    color: $black-color !important;
  }
}

.pagination {
  margin-bottom: 0 !important;
}

.sort-icon {
  font-size: 0.5rem !important;
  color: $gray-medium-dark !important;
}

.page-link {
  display: flex !important;
  justify-content: space-around;
  width: auto !important;
  height: auto !important;
  min-height: 2.4375rem !important;
  min-width: 2.75rem !important;
  padding: 0.5625rem !important;
  border-radius: $btn-border-radius !important;
  border-color: transparent !important;

  &:hover,
  &:focus {
    background-color: $gray-medium !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.pagination-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary !important;

  // .dropdown-toggle {
  //   color: $base-600 !important;
  // }

  // Dropdown Button Styles
  .dropdown-menu{
    min-width: 5rem !important;
  }
  .dropdown {
    .btn {
      color: $btn-color !important;
      border: none !important;
      background-color: $white-color !important;
      outline: transparent !important;
      border-radius: $btn-border-radius !important;
      height: auto !important;
      width: auto !important;
      min-width: $dropdown-btn-size !important;
      min-height: $dropdown-btn-size !important;
      margin: 0 !important;
      gap: var(--spacer-075) !important;
    }

    .dropdown-toggle {
      color: $primary !important;

      &::after {
        display: inline-block !important;
        margin-left: var(--spacer-025) !important;
        vertical-align: var(--spacer-025) !important;
        content: none !important;
        border: 0 transparent !important;
      }
    }
  }

  // .dropdown .btn {
  //   color: $base-600 !important;
  //   border: none !important;
  //   background-color: $white-color !important;
  //   outline: transparent !important;
  //   border-radius: $btn-border-radius !important;
  //   height: auto !important;
  //   width: auto !important;
  //   min-width: 3.2275rem !important;
  //   min-height: 3.2275rem !important;
  //   margin: 0 !important;
  // }

  // .dropdown .btn:hover {
  //   color: $black-color !important;
  //   font-weight: $btn-font-weight;
  //   background-color: $gray-000 !important;
  //   outline: transparent !important;
  // }

  // .dropdown .btn:active,
  // .dropdown .btn:focus {
  //   color: $black-color !important;
  //   background-color: $gray-000 !important;
  //   font-weight: $btn-font-weight;
  //   outline: transparent !important;
  // }

  // .dropdown-toggle::after {
  //   display: inline-block !important;
  //   margin-left: var(--spacer-025) !important;
  //   vertical-align: var(--spacer-025) !important;
  //   content: none !important;
  //   border-top: 0 transparent !important;
  //   border-right: 0 transparent !important;
  //   border-bottom: 0 transparent !important;
  //   border-left: 0 transparent !important;
  // }
}

.button-content {
  opacity: 0;
}

.dotted-spinner {
  @include spinner-base;
  width: 1em;
  height: 1em;
  position: absolute;
}

.form-preview-tab,
.wizard-tab{
  &:first-child .page-link,
  &:last-child .page-link {
    display: flex !important;
    background-color: transparent !important;
    color: $black-color !important  }
  .page-item.active .page-link {
    text-decoration: underline !important;
    text-underline-offset: var(--spacer-075) !important; 
  }
}

.button-div {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  align-items: center;
}
