@import "_mixins.scss";

// Variables for reused values
$primary: var(--ff-primary);
$gray-dark: var(--ff-gray-dark);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
$primary-light: var(--ff-primary-light);
$gray-darkest: var(--ff-gray-darkest);

.wraper {
  .card {
    border-radius: var(--radius-lg) !important;
    border: none !important;
  }

  .card-header {
    @include paddingLvl2Min-outter();

    display: flex;
    align-items: center;

    background-color: $white-color;
    
    & > div {
      display: flex;
      align-items: center;
      gap: $paddingLvl2MinS;

      &:nth-child(1) {
        flex-grow: 1;

        h2 {
          @include textCardHead();
        }
      }
    }
  }

  .card-body {
    border-top: 1px solid $gray-medium !important;
  }
}
.flow-edit{
  .card-body{
    padding: 0 !important;
  }
}

.form-edit{
  .card-body{
    padding-top: 0 !important;
  }
}

.flow-builder {
  height: calc(100vh - 15rem) !important;
  overflow: auto;
}

.form-builder {
  height: calc(100vh - 16.5rem) !important;
  overflow-x: hidden;

  .card {
    border: 1px solid $gray-medium !important;
    border-radius: 0 !important;
    margin-bottom: var(--spacer-050) !important;
  }

  .card-header {
    padding: 0 !important;

    h5 {
      width: 100%;
    }
  }
}

.no-drop {
  border-top: 1px solid $gray-medium;
}

.editor-header {
  background-color: var(--navbar-active-submenu-bg-color) !important;
  width: 100% !important;
  height: auto !important;
  border-radius: var(--radius-sm) !important;
  margin-bottom: var(--spacer-150);

  .editor-header-text {
    color: var(--ff-white);
    text-align: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-xl);
    line-height: var(--text-line-height);
  }
}
.task-details-view{
  padding: var(--spacer-250) var(--spacer-150) var(--spacer-250) var(--spacer-150) !important;
}
.white-text {
  color: var(--ff-white) !important;
}

.form-flow-wraper {
  overflow: hidden;
  position: absolute;
  // transform: rotate(180deg);
  display: flex;
  gap: 1rem;
  // flex-direction: row-reverse;
  align-items: center;
  height: calc(100vh - 9.8rem) !important;

  padding: var(--spacer-200) !important;

  color: $primary;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xl);
  text-align: end;

  background-color: $primary-light;
  border: $lineThin solid $primary;

  transition: opacity 0.5s ease;

  &.right {
    left: 94%;

    writing-mode: sideways-rl;
    
    border-right: none;
    border-top-left-radius: var(--radius-sm);
    border-bottom-left-radius: var(--radius-sm);
    
    opacity: 1;
    
    &.visible {
      left: 94%;
  
      opacity: 1;
      
      transition: width 0.5s ease, opacity 0.5s ease;
      animation: shrink-right 1.5s forwards;
    }
  }

  &.left {
    right: -15%;
    flex-direction: row-reverse;
    
    margin-right: -1.5rem;

    writing-mode: sideways-lr;
    
    border-left: none;
    border-top-right-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);
  
    opacity: 0;

    svg {
      transform: rotate(180deg);
    }
    
  
    &.visible {
      right: -15%;
      
      opacity: 1;
      
      transition: width 0.5s ease, opacity 0.5s ease;
      animation: shrink-width 1.5s forwards;
    }
  }
}

@keyframes shrink-right {
  0% {
    opacity: 1;
    left: 0%;
  }

  100% {
    opacity: 1;
    left: 94%;
  }
}

@keyframes shrink-width {
  0% {
    opacity: 1;
    right: -10%;
  }

  100% {
    opacity: 1;
    right: 96%;
  }
}


.main-edit-wrap {
  overflow-y: hidden !important;
}

.flow-wraper {
  position: absolute;
  right: -100%;
  width: 93%;
  opacity: 0;
  transition: right 1.5s ease, opacity 1.5s ease;

  &.visible {
    opacity: 1 !important;
    right: 0;
  }
}

.form-wraper {
  position: relative;
  right: 100%;
  width: 93%;
  opacity: 0;
  transition: right 1.5s ease, opacity 1.5s ease;

  &.visible {
    opacity: 1 !important;
    right: 0;
  }
  .card-body {
    padding-right: var(--spacer-025);
  }
}

.info-panel {
  display: flex;
  padding: var(--spacer-100);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-050);
  align-self: stretch;
  border-radius: var(--radius-sm);
  background: $gray-light;
  .field-label{
    font-weight: 700;
    font-size:var(--font-size-xs);
    color: $gray-darkest;
  }
}

.info-content {
  align-self: stretch;
  color: var(--default-font-color);
  font-size: var(--font-size-xs);
  line-height: var(--text-line-height);
}

.preview-header-text {
  color: var(--default-font-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xl);
  line-height: var(--text-line-height);
}


.form-submission-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacer-100);
}


// .nav-bar - (M) Nav Bar
.nav-bar {
  $paddingTB: var(--spacer-150);
  $paddingLR: var(--spacer-200);
  $spaceBetween: var(--spacer-150);
  $spaceBetweenSubElements: var(--spacer-100);

  display: flex;
  align-items: stretch;
  width: 100%;

  margin-bottom: $paddingLvl1S;

  background-color: $gray-darkest;

  border-radius: $borderRadiusHeightM;

  & > div {
    &:first-child {
      padding-left: $paddingLR;
    }

    &:last-child {
      padding-right: $paddingLR;
    }
  }

  .icon-back {
    @include clickableFeedback1();

    display: flex;
    align-items: center;

    padding-right: $spaceBetween;
  }

  .description {
    display: flex;
    flex-grow: 1;

    padding-right: $spaceBetween;

    margin-top: $paddingTB;
    margin-bottom: $paddingTB;

    gap: $spaceBetween;

    p {
      display: flex;
      flex-grow: 1;
    }

    .text-main {
      @include textBaseHightlight($fontBase, $white);

      overflow: hidden;
      display: block;
      width: 4rem;

      text-overflow: ellipsis;
      white-space: nowrap;
      min-height: 20px;
    }

    .status {
      @include textBaseHightlight($fontBase, $white);

      flex-grow: 0;
      align-items: center;
    }

    .date {
      @include textBase($fontBase, $white);
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    gap: $spaceBetweenSubElements;
  }
}




.card-molecule {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  background-color: $white-color;
  border-radius: $borderRadiusModal;

  .head {
    @include paddingLvl2Min-outter();
    @include divider();

    display: flex;
    align-items: center;

    background-color: $white-color;
    
    & > div {
      display: flex;
      align-items: center;
      gap: $paddingLvl2MinS;

      &:nth-child(1) {
        flex-grow: 1;

        h2 {
          @include textCardHead();
        }
      }
    }
  }
}


.scroll-list {
  @include paddingLvl2();

  .items {
    @include paddingLvl4-inner();

    display: flex;
    flex-direction: column;

    button {
      @include textBase($fontSmallest);
      @include paddingLvl5();
      @include clickableFeedback2();

      text-align: left;

      border: none;
      border-radius: $borderRadiusHeightSM;
      background-color: transparent;

      &.active {
        color: $white-color;

        background-color: $primary;

        pointer-events: none;
      }
    }
  }
}