@import "_mixins.scss";

// Variables for reused values
$primary: var(--ff-primary);
$gray-dark: var(--ff-gray-dark);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
$primary-light: var(--ff-primary-light);
$gray-darkest: var(--ff-gray-darkest);

.wraper {
  .card {
    border-radius: var(--radius-lg) !important;
    border: none !important;
  }

  .card-header {
    border-bottom: 1px solid hsl(199deg 5% 95% / 0%);
    height: 4.6875rem !important;
    display: flex;
    padding: var(--spacer-100) var(--spacer-200) !important;
    align-items: center !important;
    gap: var(--spacer-100) !important;
    align-self: stretch;
    color: var(--default-font-color) !important;
    font-size: var(--font-size-lg) !important;
    font-weight: var(--font-weight-xl) !important;
    line-height: var(--text-line-height) !important;
  }

  .card-body {
    border-top: 1px solid $gray-medium !important;
  }
}
.flow-edit{
  .card-body{
    padding: 0 !important;
  }
}

.form-edit{
  .card-body{
    padding-top: 0 !important;
  }
}

.flow-builder {
  height: calc(100vh - 18rem) !important;
  overflow: auto;
}

.form-builder {
  height: calc(100vh - 16.5rem) !important;
  overflow-x: hidden;

  .card {
    border: 1px solid $gray-medium !important;
    border-radius: var(--radius-lg) !important;
    margin-bottom: var(--spacer-050) !important;
  }

  .card-header {
    height: var(--spacer-200) !important;
    padding-left: var(--spacer-050) !important;
  }
}

.no-drop {
  border-top: 1px solid $gray-medium;
}

.editor-header {
  background-color: var(--navbar-active-submenu-bg-color) !important;
  width: 100% !important;
  height: auto !important;
  border-radius: var(--radius-sm) !important;
  margin-bottom: var(--spacer-150);

  .editor-header-text {
    color: var(--ff-white);
    text-align: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-xl);
    line-height: var(--text-line-height);
  }
}
.task-details-view{
  padding: var(--spacer-250) var(--spacer-150) var(--spacer-250) var(--spacer-150) !important;
}
.white-text {
  color: var(--ff-white) !important;
}

.form-flow-wraper-right {
  color: $primary;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xl);
  padding-bottom: var(--spacer-200) !important;
  padding-left: var(--spacer-200) !important;
  padding-right: 2.25rem !important;
  background-color: $primary-light; 
  width: 6.0625rem;
  height: calc(100vh - 9.8rem) !important;
  cursor: pointer;
  position: absolute;
  left: 94%;
  overflow: hidden;
  writing-mode: vertical-rl;
  text-align: end;
  transform: rotate(180deg);
  border-top-right-radius: var(--radius-sm);
  border-bottom-right-radius: var(--radius-sm);
  opacity: 1;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
    left: 94%;
    transition: width 0.5s ease, opacity 0.5s ease;
    animation: shrink-right 1.5s forwards;
  }
}

@keyframes shrink-right {
  0% {
    opacity: 1;
    left: 0%;
  }

  100% {
    opacity: 1;
    left: 94%;
  }
}

.form-flow-wraper-left {
  margin-right: -1.5rem;
  color: $primary;
  width: 6.25rem;
  font-size: var(--font-size-lg);
  overflow: hidden;
  font-weight: 700;
  padding-bottom: var(--spacer-200) !important;
  padding-left: var(--spacer-200) !important;
  padding-right: 2.25rem !important;
  background-color: $primary-light;
  height: calc(100vh - 9.8rem) !important;
  height: auto;
  position: absolute;
  right: -15%;
  writing-mode: vertical-rl;
  cursor: pointer;
  text-align: end;
  transform: rotate(180deg);
  border-top-left-radius: var(--radius-sm);
  border-bottom-left-radius: var(--radius-sm);
  opacity: 0;
  transition: opacity 0.5s ease;

  &.visible {
    opacity: 1;
    right: -15%;
    transition: width 0.5s ease, opacity 0.5s ease;
    animation: shrink-width 1.5s forwards;
  }
}

@keyframes shrink-width {
  0% {
    opacity: 1;
    right: -10%;
  }

  100% {
    opacity: 1;
    right: 96%;
  }
}

.main-edit-wrap {
  overflow-y: hidden !important;
}

.flow-wraper {
  position: absolute;
  right: -100%;
  width: 93%;
  opacity: 0;
  transition: right 1.5s ease, opacity 1.5s ease;

  &.visible {
    opacity: 1 !important;
    right: 0;
  }
}

.form-wraper {
  position: relative;
  right: 100%;
  width: 93%;
  opacity: 0;
  transition: right 1.5s ease, opacity 1.5s ease;

  &.visible {
    opacity: 1 !important;
    right: 0;
  }
  .card-body {
    padding-right: var(--spacer-025);
  }
}

.info-panel {
  display: flex;
  padding: var(--spacer-100);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-050);
  align-self: stretch;
  border-radius: var(--radius-sm);
  background: $gray-medium;
  .field-label{
    font-weight: 700;
    font-size:var(--font-size-xs);
    color: $gray-darkest;
  }
}

.info-content {
  align-self: stretch;
  color: var(--default-font-color);
  font-size: var(--font-size-xs);
  line-height: var(--text-line-height);
}

.preview-header-text {
  color: var(--default-font-color);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-xl);
  line-height: var(--text-line-height);
}


.form-submission-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacer-100);
}


// .nav-bar - (M) Nav Bar
.nav-bar {
  $paddingTB: var(--spacer-150);
  $paddingLR: var(--spacer-200);
  $spaceBetween: var(--spacer-150);
  $spaceBetweenSubElements: var(--spacer-100);

  display: flex;
  align-items: stretch;
  width: 100%;

  margin-bottom: $paddingLvl1S;

  background-color: $gray-darkest;

  border-radius: $borderRadiusHeightM;

  & > div {
    &:first-child {
      padding-left: $paddingLR;
    }

    &:last-child {
      padding-right: $paddingLR;
    }
  }

  .icon-back {
    @include clickableFeedback1();

    display: flex;
    align-items: center;

    padding-right: $spaceBetween;
  }

  .description {
    display: flex;
    flex-grow: 1;

    padding-right: $spaceBetween;

    margin-top: $paddingTB;
    margin-bottom: $paddingTB;

    gap: $spaceBetween;

    color: $white;
    font-weight: 700;

    p {
      @include textBase($fontBase, $white);

      display: flex;
      flex-grow: 1;
    }

    .text-main {
      overflow: hidden;
      display: block;
      width: 4rem;

      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .status {
      flex-grow: 0;
      align-items: center;
    }
  }

  .buttons {
    display: flex;
    align-items: center;

    gap: $spaceBetweenSubElements;
  }
}

