$primary-light: var(--ff-primary-light);
.icon-wp-forms {
  height: 30px;
}

i.fa.fa-question-circle.text-muted {
  color: $primary-light !important;
}
.icon-wrapper-change {
  cursor: pointer;
  transition: transform 0.5s, color 0.5s;

  &:hover {
    opacity: 0.8;
  }
}
