
.icon-wp-forms {
  height: 30px;
}

i.fa.fa-question-circle.text-muted {
  color: var(--ff-primary-300) !important;
}
.icon-wrapper-change {
  cursor: pointer;
  transition: transform 0.5s, color 0.5s;
}

.icon-wrapper-change:hover {
  opacity: 0.8;
}
