

@media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
} 

$container-max-widths: (
  xxl: 1320px
);

.padding-left-60 {
  margin-left: 60px;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

