@media (min-width: 1400px) {
  .container {
    // max-width: 1320px;
    max-width: none !important; // temporarly added to have container fluidic behavior for large screens also
  }
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.padding-left-60 {
  margin-left: 60px;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

button,
a,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="radio"]+label,
input[type="checkbox"],
input[type="checkbox"]+label,
.btn,
.clickable {
  cursor: pointer;
}


.w-15 {
  width: 15% !important;
}


.svgIcon-dark {
  @include svgIcon($gray-darkest);
}

.svgIcon-primary {
  @include svgIcon();
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.svgIcon-onDark {
  @include svgIcon($white);
}

.svgIcon-disabled {
  @include svgIcon($gray-medium-dark);
}

.svgIcon-disabled-onDark {
  @include svgIcon($white);
}


.load-more {
  display: flex;
  justify-content: center;
}

.buttons-row {
  display: flex;
  flex-wrap: wrap;
  gap: $paddingLvl3S;
  align-items: flex-start;
}


.page-content {
  @include paddingLvl1();

  display: flex;
  flex-direction: column;
  height: 100%;

  & ._loading_overlay_wrapper {
    overflow: hidden;
    height: 100%;
  }
}


.Toastify {
  margin: 0 !important;
}