@import "_mixins";
// Variables for reused values
$primary: var(--ff-primary);
$primary-light: var(--ff-primary-light);
$gray-light: var(--ff-gray-light);
$gray-dark: var(--ff-gray-dark);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
$black-color: var(--ff-black);
//base
$base: 1rem;
$lineThin: 1px;
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  padding: $base;

  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin: auto;

    &.show {
      transform: translateY(0) !important;
      opacity: 1;
    }

    &.fade {
      transition: transform 0.6s ease-out, opacity 0.6s ease-out !important;
      transform: translateY(-20%) !important;
      opacity: 0;
    }

    // for modals with size="sm" . 63.5% given to make it 960px as per figma size
    &.modal-sm {
      max-width: $modalWidthSmall !important;
    }

    // for modals with size="lg" . 95% given to make it 1440px as per figma size
    &.modal-lg {
      max-width: $modalWidthLarge !important;
    }

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100% !important;
      max-height: calc( 100vh - $base*2);

      background-color: var(--ff-white);
      background-clip: padding-box;
      outline: 0;
      
      border: none !important;
      border-radius: var(--radius-lg) !important;
      
      pointer-events: auto;

      &.form-modal-content {
        width: 56.25rem !important;
        height: 15.9375rem !important;
        flex-shrink: 0 !important;
        border-radius: var(--radius-lg) !important;
        position: absolute !important;
        border: none !important;
      }

      .modal-content-heading {
        color: $primary;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-xl);
        line-height: var(--text-line-height);
        letter-spacing: 0.02rem;
        display: flex;
        justify-content: space-between;
        align-items: center;  
      }

      .modal-content-text {
        color: var(--default-font-color);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-sm);
        line-height: var(--text-line-height);
        text-align: left;
      }

      &.close-modal {
        border: none;
        width: 0.9375rem;
        height: 0.9375rem;
        background-color: transparent;
        flex-shrink: 0;
      }

      .modal-footer {
        @include paddingLvl2();

        & > * {
          margin: 0;
        }
      }

      .modal-header {
        display: flex;
        justify-content: space-between !important;
        align-items: stretch;

        padding: 0;

        color: var(--default-font-color);
        font-size: var(--spacer-150);
        font-weight: var(--font-weight-sm);

        .modal-title {
          @include paddingLvl2();
          @include textBase($fontModalTitle)

          // font-size: var(--font-size-lg) !important;
          // font-weight: var(--font-weight-sm) !important;
          // line-height: var(--text-line-height) !important;
          // text-transform: capitalize !important;
        }

        .icon-close {
          @include clickableFeedback1();

          display: flex;
          align-items: center;

          padding: 0 $paddingLvl2LR;
        }
      }

      .modal-body {
        @include paddingLvl2();
        @extend .custom-scroll;

        overflow: auto;
        display: flex;
        flex-direction: column;

        padding-right: calc($paddingLvl2LR - $scrollBarWidth) !important;

        scrollbar-gutter: stable;

        &.with-tabs {
          overflow: hidden;

          padding-bottom: 0 !important;
        }

        &.choice {
          display: flex;
          flex-direction: row;

          padding: 0 !important;

          & > button {
            @include paddingLvl2();
            @include clickableFeedback2();

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;

            text-align: left;

            border: none;
            background-color: $white-color;

            &:first-of-type {
              border-bottom-left-radius: $borderRadiusModal;
            }

            &:last-of-type {
              border-bottom-right-radius: $borderRadiusModal;
            }

            &:not(:last-of-type) {
              margin: 0 !important;
  
              border-right: $lineThin solid $gray-medium;
            }
          }

          h3 {
            @include textBaseHightlight($fontChoiceHead, $primary-color);
          }

          p {
            @include textBase($fontBase);
          }
        }

        &.with-sections {
          padding: 0 !important;
        }

        &.side-by-side {
          $leftSideWidth: 25rem;

          display: flex;
          flex-direction: row;

          padding: 0 !important;

          & > div {
            margin: 0 !important;
          }

          .left {
            overflow-y: auto;
            max-height: 100%;
            width: $leftSideWidth;

            border-right: $lineThin solid $colorDivider;
          }

          .right {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            max-height: 100%;

            & > div {
              @include paddingLvl2();

              display: flex;
              flex-direction: column;

              &.preview {
                overflow-y: auto;
                flex-grow: 1;
              }

              &.actions {
                display: flex;
                align-items: center;

                border-top: $lineThin solid $colorDivider;
              }
            }
          }
        }

        .message-primary,
        .message-secondary {
          @include text-modal-content;
        }

        .message-secondary {
          @include text-modal-content;
          font-weight: var(--font-weight-xl);
          margin-top: var(--spacer-150);
        }

        // .content-wrapper {
        //   display: flex;
        //   width: 14.0625rem;
        //   height: 10rem;
        //   padding: var(--spacer-250) var(--spacer-200);
        //   flex-direction: column;
        //   align-items: flex-start;
        //   gap: var(--spacer-150);
        //   border-left: 0.0625rem solid $gray-medium !important;
        //   flex-shrink: 0;
        //   position: relative;
        //   cursor: pointer;

        //   &:first-child {
        //     border-left: 0 !important;
        //     border-top: 0 !important;
        //     border-right: 0 !important;
        //   }

        //   &:last-child {
        //     border-right: none !important;
        //   }

        //   &.col-6:nth-child(4) {
        //     border-right: 0 !important;
        //   }
        // }
        
        .text-content {
          display: flex;
          flex-direction: column;
          gap: var(--spacer-150);
        }

        .long-form-name {
          display: -webkit-box;
         -webkit-box-orient: vertical; 
         -webkit-line-clamp: 2; 
         line-clamp: 2; 
         overflow: hidden; 
         text-overflow: ellipsis; 
         line-height: 1.2em; 
         max-height: 2.4em; 
         word-wrap: break-word; 
       }
        
      }

      .modal-footer {
        justify-content: flex-start !important;
        &.space-between {
          justify-content: space-between !important;
        }
      }
    }
  }

}

.modal.show .modal-dialog {
  transform: none;
}

// Chooste template modal styles

.choose-template-modal {
  .modal-title {
    color: var(--default-font-color);
  }

  .modal-dialog {
    margin-top: 6.5vh !important;
    margin-bottom: 2.5vh !important;
    height: 87vh;
    background: var(--ff-white);
    border-radius: var(--radius-lg);
  }

  .modal-content {
    overflow: hidden;
  }

  .tab-content {
    padding: var(--spacer-100) var(--spacer-125);
    width: 100% !important;
    background: $gray-medium;
  }

  .form-template-list {
    overflow-y: scroll;
    -ms-overflow-style: none;
    max-height: 75vh;
    height: 59vh;
    border-top: 1px solid $gray-medium;
  }
  
  .choose-template-header {
    display: flex;
    padding: var(--spacer-200) 6.5rem var(--spacer-200) var(--spacer-250);
    align-items: center;
    gap: var(--spacer-200);
    align-self: stretch;
  }

  .template-left {
    width: 30%;
    float: left;
    align-items: center;
    gap: var(--spacer-100);
  }

  .template-right {
    width: 70%;
    float: right;
    border-left: 0.0625rem solid $gray-medium !important;
    display: flex;
    flex-direction: column;
    align-items: none;
    align-self: stretch;
  }

  .search-category {
    display: flex;
    padding: var(--spacer-200) var(--spacer-225);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacer-150);
    flex-shrink: 0;
  }

  .template-item {
    padding: var(--spacer-050) var(--spacer-225) !important;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gray-medium;
    background: var(--ff-white);
    overflow: hidden;
    white-space: nowrap;
    min-width: 8rem;
    min-height: 4.5rem;
    gap: var(--spacer-050);
    cursor: pointer;

    .template-desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      /* Show 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }

  .active-template {
    border-bottom: 1px solid $gray-medium;
    background: $primary-light;
    max-height: none !important;

    .template-desc {
      display: block;
      -webkit-line-clamp: unset;
      line-clamp: unset;
      overflow: visible;
      white-space: normal;
    }
  }

  .template-title,
  .template-desc {
    color: $black-color;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-sm);
    line-height: var(--text-line-height);
  }

  .form-container {
    overflow-y: scroll;
    -ms-overflow-style: none;
    height: 56vh;
  }

  .bpmn-container {
    height: 56vh;
    overflow: auto;
  }

  .select-temp-btn {
    display: flex;
    padding: var(--spacer-100);
    flex-direction: column;
    align-items: center;
  }

  .form-flow-tabs {
    display: flex;
    padding: var(--spacer-200) var(--spacer-225);
    align-items: center;
    gap: var(--spacer-150);
    align-self: stretch;
  }

  .template-spinner {
    @include spinner-base;
    width: 0.9rem;
    height: 0.9rem;
    font-size: small;
    position: relative;
    top: 50%;
    left: 50%;
  }


  .not-found {
    display: flex;
    padding: var(--spacer-200);
    justify-content: center;
    align-items: center;
    gap: var(--spacer-100);
    flex: 1 0 0;

    &.not-found-text {
      color: $gray-medium-dark;
      text-align: center;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-sm);
      line-height: var(--text-line-height);
    }
  }
}

//action modal
.action-modal-body {
  padding: var(--spacer-250) var(--spacer-200) !important;
}
.custom-action-flex {
  gap: var(--spacer-100);
  display: flex;
  flex-wrap: wrap;
}

.action-form {
  padding-block: 1.875rem var(--spacer-125);
}

.custom-modal-content {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 50% !important;
  max-width: 100%;
  margin: auto;

}

//settingsmodal 
.settings-modal {
 

  .settings-tab-container{
    display: flex;
    flex-direction: column;
    padding: var(--spacer-200) var(--spacer-225);
    gap: var(--spacer-150);  
    .settings-sections{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacer-150);
      align-self: stretch;
    }
    .custom-tab {
      display: flex;
      gap: var(--spacer-100);  
      border-bottom: $lineThin solid $gray-light !important;  
      }
      .tab-content { 
        max-height: calc(100vh - 22.3375rem);
        overflow-y: scroll;
        padding-bottom: 2px;
      }
  }

  .url-input {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: var(--radius-sm);
    border: 1px solid $primary;
    padding: 0.5rem 1rem;

    .url-non-edit {
      border: none !important;
      border-radius: var(--radius-sm) !important;
      border-right: none;
      color: $gray-medium-dark !important;
      background: none !important;
      overflow: hidden;
      position: relative;
      display: contents;
    }

    .url-edit {
      border: none !important;
      padding: 0 0 0 0.5rem;

      &:focus {
        box-shadow: none;
      }
    }
    input:-webkit-autofill {
           background-color: transparent !important;
           box-shadow: 0 0 0px 1000px white inset !important;
           -webkit-text-fill-color: inherit !important;
           transition: none !important;
      }
      

    .url-copy {
      justify-content: center;
      background: none !important;
      border: none !important;
    }
  }
}

//Save template modal

.save-template-modal {
  .modal-content {
    background: var(--ff-white);
  }

  .save-template-header {
    display: flex;
    padding: var(--spacer-200) 6.5rem var(--spacer-200) 2.5rem;
    align-items: center;
    gap: var(--spacer-200);
    align-self: stretch;
  }

  .save-template-body {
    display: flex;
    padding: var(--spacer-200) 2.5rem;
    flex-direction: column;
    align-self: stretch;
    border-top: 1px solid $gray-medium;
  }

  .save-template-footer {
    display: flex;
    padding: var(--spacer-200) 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid $gray-medium;
    float: left;
  }

  .btn-container {
    display: flex;
    align-items: center;
    gap: var(--spacer-100);
    align-self: stretch;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-100);
    align-self: stretch;
  }
}

.newversion-modal-body {
  padding: 2rem 2.5rem !important;
  display: flex;
  flex-direction: column;
  gap: var(--spacer-150);
  align-self: stretch;

  .form-check-input {
    border-color: $primary;
  }
  .dashed-line {
    flex-grow: 1;
    border-top: 1px dashed gray;
    margin: 0 10px;
  }

} 

//no-code modals
.no-code-action-modal
{
  .modal-action{
    padding: var(--spacer-200) var(--spacer-250);
    align-self: stretch;
  }
  
  .modal-action-inputs {
    gap:  var(--spacer-150);
    align-self: stretch;
  }
}
.node-list-row {
  padding: var(--spacer-200);
  border-top: 1px solid $gray-medium;
}
.no-code-custom-modal-body{
  height: 68vh;
  overflow: auto;
  padding: 0 !important;
}

//reusable multi-select
.multi-select{
  .list-group {
    border: 1px solid $primary;
    border-radius: var(--radius-sm);
    max-height: 16rem;
    overflow: auto;
    .list-group-item {
      border: none;
    }
  }
  .input-drop {
    position: absolute;
    z-index: 100;
    overflow: auto;
    border-radius: var(--radius-sm);
    border-bottom: 1px solid $primary;
  }
  
  .input-with-pills {
    display: flex !important;
    justify-content: flex-start;
    flex-wrap: wrap !important;
    align-items: center;
    padding: var(--spacer-050) var(--spacer-100);
    border: 1px solid $primary !important;
    border-radius: var(--radius-sm) !important;
    position: relative;
    gap: 5px !important;
  
    .role-input {
      border: none;
      flex-grow: 1;
      padding: var(--spacer-025);
      outline: none;
    }
  }
}
.multi-label {
  font-size: var(--font-size-xs);
  margin-bottom: var(--spacer-050);
}
.form-builder-modal{
  display: flex;
 padding: var(--spacer-200) var(--spacer-250) !important;
 flex-direction: column;
 align-items: flex-start;
 gap: var(--spacer-150);
 align-self: stretch;
}
.build-modal{
  .modal-body{
    padding: 0px !important;
  }
  .modal-content{
    overflow: hidden;
  }
  .modal-header{
    border-bottom: 1px solid $gray-medium;
  }
  .content-style{
    font-size: var(--font-size-sm);
    line-height: var(--text-line-height);
  }
  .content-heading{
    @extend .content-style;
    color: $primary;
    font-weight: var(--font-weight-xl);
  }
  .content-body{
    @extend .content-style;
    text-align: left;
    color: var(--default-font-color);
    font-weight: var(--font-weight-sm);
  }
  .build-contents{
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray-medium !important;
    padding-left: var(--spacer-250) !important;
    padding: var(--spacer-200);
    cursor: pointer;
    background: none;
    border: none;
  }     
}

.settings-tab-container{
  .form-check{
    width: 100%;
  }
}

//expression-builder-modal
.expression-builder-modal {
  .modal-content{
    margin-top: var(--spacer-100);
    margin-bottom: var(--spacer-100);
    max-height: calc(100vh - 2rem);
  }
  
  .expression-section{
    border-bottom: 1px solid var(--ff-gray-100);
    padding: var(--spacer-050) var(--spacer-225) !important;
    padding-bottom: var(--spacer-050);
    gap: var(--spacer-050);
    margin-top: var(--spacer-200);
  }
}
  .expression-builder{
    .expression-list-group {
      width: 100%;
}

  .expression-list-group .form-variable {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.625rem;
  }

  .expression-list-group .form-variable:hover {
    background: $primary-light;
   
    .variable-label {
      color: $primary !important;
      
    }
    .variable-key{
      color: $gray-medium-dark !important;
      
    }
  }
  .expression-list-group .form-variable.selected-variable {
    background: $primary;
  }

  .expression-list-group .variable-label {
    color: $primary;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-lg);
  }

  .expression-list-group .variable-key {
    color: $gray-medium-dark;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    margin-left: 8px;
  }
  .expression-area,
  .expression-display-area {
    display: flex;
    align-items: flex-start;
    gap: var(--spacer-050);
    border-radius: var(--radius-sm);
    border: 0.0625rem solid var(--ff-gray-300);
    padding: var(--spacer-050) var(--spacer-100);
    flex-wrap: wrap;

    &.expression-area {
      min-height: 4.375rem;
    }

    &.expression-display-area {
      min-height: 2.1875rem;
      pointer-events: none;
    }
  }

  .expression-section{
    display: flex;
    padding: var(--spacer-200) var(--spacer-250);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }

  .variable-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--spacer-150);
    max-height: calc(100vh - 35.875rem);
    overflow-y: scroll;
  }

  .tab-label {
    font-size: var(--font-size-md);
  }
  .tab-variable-section{
    display: flex;
    flex-direction: column;
    padding: var(--spacer-200);
    gap: var(--spacer-150);
  }
  .tab-section {
    display: flex;
    align-items: center;
    gap: var(--spacer-150);
    border-bottom: 1px solid var(--ff-gray-000);
  }

  .variable-tab {
    gap: var(--spacer-150);
  }
  

  .save-value {
    display: inline-flex;
    align-items: center;
    gap: var(--spacer-050);
  }

  .pick-operator {
    display: flex;
    flex-direction: column;
    padding: var(--spacer-200);
    gap: var(--spacer-050);
    max-height: calc(100vh - 26.375rem); 
    overflow-y: scroll;
  }

  .operator-list {
    width: 100%;
    padding: var(--spacer-050) var(--spacer-100);
  }

  .operator-list:hover {
    background-color: $primary-light !important;
  }

  .key-label {
    display: flex;
    padding: var(--spacer-100) var(--spacer-250);
    align-items: center;
    gap: var(--spacer-050);
    align-self: stretch;
  }

  .key-label:hover {
    background: $secondary;
  }

  .selected-variable {
    background-color: $primary;
  }

  .expression-text {
    padding-left: var(--spacer-100);
    padding-top: var(--spacer-050);
    font-weight: var(--font-weight-xl);
  }

  .no-variables {
    display: flex;
    padding: var(--spacer-200) var(--spacer-200);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacer-150);
  }

  .no-var-text {
    color: $gray-medium-dark;
    font-weight: var(--font-weight-sm);
  }

  .dashed-box {
    border-radius: var(--spacer-050);
    border: 2px dashed $primary;
    margin-left: var(--spacer-050);
    height: 26px;
  }

  .dashed-box.big {
    width: 5.313rem;
  }

  .dashed-box.small {
    width: 1.75rem;
  }

  .operator-description {
    font-size: var(--font-size-sm);
  }

  .expression-clear {
    margin-left: auto;
    margin-right: var(--spacer-100);
    margin-top: var(--spacer-050);
    position: relative;
  }

  .operator-button {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
    gap: var(--spacer-050);
    .badge-pill {
    background-color: $primary !important;
    color: var(--ff-white) !important;
  }
  }

  
  .operator {
    .badge-pill {
      background-color: $primary !important;
      color: var(--ff-white) !important;
  }
}
}





.task-variable-modal {
  .modal-body {
    padding: 0px !important;
  }
  .info-pill-container{
    padding:var(--spacer-200) var(--spacer-250) ;
    display: flex;
    flex-direction: column;
    gap:var(--spacer-150);
  }
  .form-field-container{
    width: 80%;
    float: left;
    background: $gray-medium;  // #F1F1F1
    padding: var(--spacer-200) var(--spacer-250);
  }
  .field-details-container{
    padding:var(--spacer-200) var(--spacer-250) ;
    width: 20%;
    float: right;
    background: #FFF;
  }
  .pill-container{
    min-height: 6rem;
    gap: var(--spacer-025);
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacer-050) var(--spacer-100);
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--radius-sm);
    border: 1px solid $gray-medium-dark;
    background: var(--ff-white);    
  }
  
  .select-text{
    color: $gray-medium-dark;
    font-size: var(--font-size-sm);
  }
  .selected-var-text{
    color: $black-color;
    font-size: var(--font-size-sm);
    padding-bottom: var(--spacer-050);
  }
 
 .details-section{
  display: flex;
  flex-direction: column;
  gap: var(--spacer-150);

  .text-bold{
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-sm);
    word-break: break-all;
   }
 }

 .form-control {
   &:disabled {
     background-color: var(--ff-white) !important;
   }
 }

 .card-body {
   border-radius: var(--radius-sm) !important;
   border-color: $gray-medium-dark !important;

   .formio-editor-read-only-content {
     padding: var(--spacer-025) var(--spacer-050);
   }

 }
}
.profile-settings{
  .lang-settings{
    display: flex;
    padding: var(--spacer-200) var(--spacer-250);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  .input-dropdown .list-group {
    max-height: 8rem;
  }
  .note{
    margin-top: 1.5rem;
  }
}
.sort-settings{
  .sortbody-settings{
    display: flex;
    padding: var(--spacer-200) var(--spacer-250);
    gap: var(--spacer-150);
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  .input-dropdown .list-group {
    min-height: auto !important;
  }
}
.button-align{
  gap: var(--spacer-100);
}

.dashed-selection {
  border: 0.125rem dotted $primary;
  padding: 0.1875rem;
  border-radius: var(--radius-sm); /* Optional: Add some rounding */
} 



.list-action.rearrangable.checkbox {
  display: flex;
  flex-direction: column;

  margin: 0;

  ul {
    display: flex ;
    flex-direction: column;

    padding-left: 0;
    margin-bottom: 0;

    margin-top: calc( 0px - $paddingLvl6TB/2 );
    margin-bottom: calc( 0px - $paddingLvl6TB/2 );
  }

  .draggable-item {
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: $paddingLvl6TB 0;

    border-radius: $borderRadiusHeightESM;

    // transition: all $animSpeed; currently commented for smooth transition

    &:active {
      cursor: grabbing; 
    }

    
    &.dragging {
      opacity: 1;
      z-index: 1000;
      background-color: $primary-light;
      & .dotted-line {
        border-bottom: $lineThick dashed $primary;
      }

      & .draggable-icon {
        background-color: $primary-light;
        border-radius: $borderRadiusHeightESM;
      }
    }

    .draggable-icon {
      display: flex;
      align-self: center;
      padding: $paddingLvl5S;
      margin: 0;
      background: none;
      border: none;
      
      cursor: grab;

      transition: opacity $animSpeed;

      &:hover {
        opacity: 0.8;
      }
    }

    .dotted-line {
      flex-grow: 1;
      border-bottom: $lineThin dashed $gray-medium;
    
      margin-left: $paddingLvl5S;

      & + svg {
        margin-left: calc($paddingLvl5S*2);
      }
    }

    .label { 
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      text-align: left;
    }
  }
}

.form-selection-modal{
  
  .form-selection-spinner {
    @include spinner-base;
    width: 0.9rem;
    height: 0.9rem;
    font-size: small;
    position: relative;
    top: 50%;
    left: 50%;
  }
  .modal-content {
    overflow: hidden;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    height: calc(100vh - 2rem);
    background: var(--ff-white);
    border-radius: var(--radius-lg);
  }

  .form-selection-header{
    display: flex;
    padding: var(--spacer-200) 6.5rem var(--spacer-200) var(--spacer-250);
    align-items: center;
    gap: var(--spacer-200);
    align-self: stretch;
  }
  .form-selection-modal-body{
    display: flex;
    padding: 0 !important;
    flex-direction: row;
    .form-selection-left {
      width: 30%;
      float: left;
      align-items: center;
      gap: var(--spacer-100);
      padding-bottom: var(--spacer-200);
    }
  
    .form-selection-right {
      width: 70%;
      float: right;
      border-left: 0.0625rem solid $gray-medium !important;
      .form-selection-preview{
        padding: var(--spacer-200) var(--spacer-250);
        background-color: $gray-light;
        overflow-y: auto;
        height: calc(100vh - 15.2rem);
      }
      .form-select-btn{
        display: flex;
        padding: var(--spacer-200);
        flex-direction: column;
        align-items: center;
      }
    }
    .search-form{
      display: flex;
      padding: var(--spacer-200) var(--spacer-225) var(--spacer-150);
      flex-direction: column;
      align-items: flex-start;
      gap: var(--spacer-150);
      flex-shrink: 0;
    }
    .form-list{
      display: flex;
      flex-direction: column;
      padding: 0px  var(--spacer-225);
      gap: var(--spacer-050);
      overflow-y: scroll;
      -ms-overflow-style: none;
      max-height: calc(100vh - 15.5rem); 
      
      .form-list-item{
      padding: var(--spacer-075) var(--spacer-100) !important;
      word-break: break-word;
      border-radius: var(--radius-sm);
      gap: var(--spacer-050);
      cursor: pointer;
      &:hover{
        background: $primary-light !important;
        color:$black-color !important;
      }
    }
      .active-form{
        background: $primary !important;
        color: $white;
      }
    }
    .nothing-found-text {
      color: $gray-medium-dark;
      text-align: center;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-sm);
      line-height: var(--text-line-height);
      padding: var(--spacer-250) 0px; 
    }
  }

}


.create-filter-modal {
  align-content: center;
  .create-filter {
    display: flex;
    padding: var(--spacer-200) var(--spacer-225);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacer-150);
    align-self: stretch;
  }
  
  .filter-tab-container-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .filter-tab-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 15.79rem);
    padding: var(--spacer-200) var(--spacer-225);
    gap: var(--spacer-150);
    .tab-content{
      overflow-y: auto;

    }
  }

  .modal-body {
    padding: 0;

    .filter-tab-container-wrapper {
      height: 100%;
    }
  }

  // .custom-tabs {
  //   &.nav-tabs {
  //     border-bottom: 1px solid $gray-light !important;
  //     gap: var(--spacer-100);
  //     position: sticky;
  //     top: 0;
  //     z-index: 1;
  //     background-color: $white;
  //   }
  // }

  .L-style {
    height: 25px;
    width: 12px;
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary;
    margin-right: var(--spacer-075);
  }

  .filter-dropdown {
    padding-top: var(--spacer-075);
  }


  .form-selection-input{
    color: var(--default-font-color) !important;
    border-radius: var(--radius-sm) !important;
    border: 1px solid var(--ff-primary) !important;
    outline: none;
    display: flex;
    padding:  var(--spacer-050) 0px var(--spacer-050) var(--spacer-100) !important;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: var(--ff-gray-light) !important;
    height: 40px !important;
    .form-selection-input-container{
      display:flex;
      padding: var(--spacer-050) var(--spacer-075) !important;
      cursor: pointer ;
    }
  }
}
.custom-dropdown-menu { // will remove after integrating the actual dropdown
  max-height: 200px;
  overflow-y: auto;
}


.import-modal-footer{
  .btn-dark{
    background-color: var(--ff-gray-medium-dark) !important;
    color: var(--ff-white) !important;
  }
} 

.reorder-task-filter-modal{
  .modal-dialog{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .reorder-task-filter-header{
    padding-left: var(--spacer-225);
    padding-bottom: var(--spacer-200);
    padding-top: var(--spacer-200);
  }
  .reorder-task-filter-modal-body{
    padding: var(--spacer-200) var(--spacer-225);
    max-height: calc(100vh - 15.79rem);
    overflow-y: auto;
  }
}

.scroll-vertical {
  overflow-y: auto;
}

.field-details-container {
  @include paddingLvl3();

  position: relative;

  h3 {
    @include textModalHighlight();
  }
}

.slideout-variable-selected {
  $spacingAround: $base;
  $animSpeed: 300ms;
  display: none;
  position: absolute;
  top: $spacingAround;
  right: 0;
  z-index: 20;
  overflow: hidden;

  transform: translateX(100%);
  transition: transform $animSpeed;

  display: flex;
  flex-direction: column;
  width: 19%;
  height: calc(100% - #{$spacingAround} * 2);

  background: $white;

  border: $lineThin solid $colorDividerDark;
  border-right: none;
  border-top-left-radius: $borderRadiusModal;
  border-bottom-left-radius: $borderRadiusModal;

  .head {
    @include divider();
    padding: var(--spacer-150) var(--spacer-125);
    & button {
      padding: $paddingLvl3LR $paddingLvl3TB;
    }
  }

  .content {
    @include paddingLvl3;

    background-color: white;
  }

  .variable-info {
    p {
      margin: 0;

      &:nth-child(2) {
        @include textEmphasis();
      }
    }
  }

  &.show {
    transform: translateX(0);
    display: flex;
  }
}

.pill-container-vertical {
  $iconCloseSize: $base;
  $paddingRL: $base;
  $paddingTB: $base/2;
  $spacingBetween: $base/2;
  $spacingBetweenLabels: $base/4;

  @include paddingLvl4-inner;

  width: 100%;

  & > div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    max-width: 100%;

    background-color: $primary-light;

    border-radius: $borderRadiusHeightSM;

    & > p {
      @include textBase();

      display: flex;
      flex-direction: column;

      padding-top: $paddingTB;
      padding-bottom: $paddingTB;
      padding-left: $paddingRL;
      padding-right: 0;

      margin: 0;
    }
  }

  .secondary-label {
    color: $gray-medium-dark;

    margin-top: $spacingBetweenLabels;
  }

  button {
    @include clickableFeedback1;

    display: flex;
    justify-content: center;
    align-items: center;
    width: calc($iconCloseSize + $paddingRL + $spacingBetween);

    padding: $paddingTB $paddingRL;
    padding-left: $spacingBetween;
  }
}

.svg-icon-on-dark {
  @include svgIcon();

  stroke: $white-color;
}

.variable-modal {
  .modal-dialog .modal-content .modal-body {
    padding: 0px !important;
    // margin-bottom: 0px !important ;
    scrollbar-gutter: initial;
  }
  .custom-tabs {
    padding: var(--spacer-200) var(--spacer-225) 0px var(--spacer-225);
    margin-left: 0px !important;
  }
  .variable-modal-body {
    display: flex;
    flex-direction: row !important;
    height: calc(100vh - 11rem);
    .variable-modal-left-container {
      width: 80%;
      float: left;
      border-right: $lineThin solid $gray-medium;
       
    }
    .variable-modal-right-container {
      width: 20%;
      float: right;
      // max-height: calc(100vh - 11rem);
      overflow-y: auto;
      padding: var(--spacer-150) var(--spacer-125);
      gap: var(--spacer-100);
      .right-container-header {
        font-weight: var(--font-weight-xl);
        font-size: var(--font-size-sm);
        line-height: var(--text-line-height);
      }
      .select-text {
        color: $gray-medium-dark;
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-sm);
        line-height: var(--text-line-height);
      }
    }

        .tabs {
          margin-right: 0px;
          margin-left: 0px;
    
          .tab-content {
            height: 100%;
          }
    
          .tab-content>div {
            padding: 0px !important;
          }
        }
  }
  .form-control {
    &:disabled {
      background-color: var(--ff-white) !important;
    }
  }
  // .formio-hilighted {
  //   box-sizing: border-box;
  //   border-radius: var(--radius-sm);
  //   border: 2px dashed $primary !important;
  //   padding: 8px 10px; //TBD need to update
  // }
  .form-container {
      background-color: $gray-medium;
      padding: 10px 20px;
      height: 100%;
    }
  .pill-container {
    display: flex;
    flex-direction: column;
    padding: var(--spacer-150) var(--spacer-125);
    gap: var(--spacer-100);
  }
  .badge-pill {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    line-height: 120% !important;
    text-align: left !important;
  }
  .primary-label,
.secondary-label {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
}
