.ff-stepper {
    display: flex;
    padding: 0;
  
    .ff-step {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      text-align: center;
  
      &:not(:last-child) {
        &:after {
          content: "";
          position: relative;
          top: calc(clamp(1.5rem, 1.4375rem, 2rem) / 2);
          width: calc(100% + 2.94vw - 5vw);
          left: calc(50% + 0rem);
          height: 0.0625rem; // 1px → rem
          background-color: $gray-medium-dark; 
          order: -10;
          transition: background-color 0.7s ease-in-out;
        }
      }
  
      &.active {
        &:after {
          background-color: $primary;
          transition: background-color 0.7s ease-in-out;
        }
      }
    }
  
    .ff-step-no {
      color: $white;
      padding: 0.25rem; // 4px
      width: 1.375rem; // 22px
      height: 1.375rem; // 22px
      font-size: 0.625rem; // 10px
      border-radius: 50%;
      background-color: $gray-dark;
      margin-bottom: 0.5rem;
      z-index: 5;
      transition: color 1s ease-in-out, background-color 0.6s ease-in-out;
  
      &.active {
        background-color: $primary;
        color: $white;
      }
    }
  
    .ff-step-label {
        color: $gray-dark;
        font-size: var(--default-font-size);
        padding-left: var(--spacing);
        padding-right: var(--spacing);
        transition: all 0.3s ease-in-out; 
      
        &.active {
          color: $primary;
          font-weight: 600;
        }
      }
      
  }
  