.custom-tables {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  border-radius: 1.5rem !important;
  overflow: hidden !important;

  td,
  th {
    vertical-align: middle !important;
    padding: 1.5rem 1.5rem !important;
  }

  thead {
    th:first-child {
      border-top-left-radius: 1.5rem !important;
    }

    th:last-child {
      border-top-right-radius: 1.5rem !important;
    }
  }

  tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 1.5rem !important;
      }

      td:last-child {
        border-bottom-right-radius: 1.5rem !important;
      }
    }
  }
}

.table {
  tr {
    border-bottom: 1px solid var(--ff-gray-000);
  }
}