$primary: var(--ff-primary);
$gray-darkest: var(--ff-gray-darkest);

.assign-user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.063rem solid $primary;
  border-radius: var(--radius-sm) !important;

  &.sm {
    width: 11.25rem;
    height: 1.563rem;
  }

  &.md {
    width: 15rem;
    height: 2.188rem;
  }

  .option {
    flex: 1;
    font-size: 14px;
    font-weight: 700;
    color: $primary;
    border: none;
    cursor: pointer;
    line-height: 120%;
    text-align: left;
    padding-left: var(--spacer-050);
    padding-block: var(--spacer-025);  
    &:focus {
      outline: none;
    }
  }

  .divider {
    width: 0.063rem;
    height: 120%;
    background: $primary;
    transform: translate(-50%, 0%) rotate(30deg); 
  }
  // // Left hover effect
  // &[data-hover-side="left"] {
  //   .left-selected {
  //     position: relative;
  //     border: 0.125rem solid $primary;
  //     border-right: none; // Remove straight border
  //     border-radius: var(--radius-sm) 0 0 var(--radius-sm);
      
  //     // Diagonal right border replacement
  //     &::after {
  //       content: '';
  //       position: absolute;
  //       right: -0.063rem;
  //       top: -0.125rem;
  //       bottom: -0.125rem;
  //       width: 0.125rem;
  //       background: $primary;
  //       transform: rotate(30deg);
  //     }
  //   }
  // }
  
  // // Right hover effect
  // &[data-hover-side="right"] {
  //   .right-selected {
  //     position: relative;
  //     border: 0.125rem solid $primary;
  //     border-left: none; // Remove straight border
  //     border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
      
  //     // Diagonal left border replacement
  //     &::before {
  //       content: '';
  //       position: absolute;
  //       left: -0.063rem;
  //       top: -0.125rem;
  //       bottom: -0.125rem;
  //       width: 0.125rem;
  //       background: $primary;
  //       transform: rotate(30deg);
  //     }
  //   }
  // }
  .selected-name {
    width: 100%;
    padding: var(--spacer-025) var(--spacer-050);
    font-weight: 400;
    font-size: 14px;
    color: $gray-darkest;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  &:has(.selected-name):hover {
    border: 0.125rem solid $primary;
  }
  
}

//Added custom variants prop to the AssignUser component to allow overriding styles in the InputDropdown component.
// .assign-user-sm{
//   width: 11.25rem !important;
//   height: 1.563rem !important;
// }
// .assign-user-md{
//   width: 15rem !important;
//   height: 2.188rem !important;
// }
.assign-user-sm-width{
  width: 11.25rem !important;
}
.assign-user-sm-height{
  height: 1.563rem !important;
}
.assign-user-md-width{
  width: 15rem !important;
}
.assign-user-md-height{
  height: 2.188rem !important;
}
