$primary: var(--ff-primary);
$gray-darkest: var(--ff-gray-darkest);
$white-color: var(--ff-white);

.assign-user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.063rem solid $primary;
  border-radius: var(--radius-sm) !important;

  &.sm {
    width: 11.25rem;
    height: 1.563rem;
  }

  &.md {
    width: 15rem;
    height: 2.188rem;
  }


  .option-me,
  .option-others {
    flex: 1;
    font-size: 14px;
    font-weight: 700;
    color: $primary;
    border: none;
    cursor: pointer;
    line-height: 120%;
    text-align: left;
    padding-left: var(--spacer-050);
    padding-block: var(--spacer-025);  
    &:focus {
      outline: none;
    }
  }

  // .option-me {
  //   clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  //   border-radius: var(--radius-sm) 0 0 var(--radius-sm);
  //   border: 0.063rem solid $primary;
  // }

  // .option-others {
  //   clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
  //   border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  //   border: 0.063rem solid $primary;
  // }  
}

//Added custom variants prop to the AssignUser component to allow overriding styles in the InputDropdown component.
.assign-user-sm-width{
  width: 11.25rem !important;
}
.assign-user-sm-height{
  height: 1.563rem !important;
  border: 0.125rem solid $primary !important;
  padding-left: var(--spacer-050) !important;
  padding-block: var(--spacer-025) !important;
  font-size: var(--font-size-xs) !important;
}
.assign-user-md-width{
  width: 15rem !important;
}
.assign-user-md-height{
  height: 2.188rem !important;
  border: 0.125rem solid $primary !important; 
}
.assignee-dropdown-border{
  border-left: 0.125rem solid $primary !important;
  border-right: 0.125rem solid $primary !important;
  border-bottom: 0.125rem solid $primary !important;
  border-top: none;
}

