$primary: var(--ff-primary);
$white-color: var(--ff-white);
$gray-darkest: var(--ff-gray-darkest);
$gray-medium: var(--ff-gray-medium);
$expanded-width : 20rem;
$chevron-bg: #5e61f2;
.collapsible-toggle {
    writing-mode: vertical-rl;
    height: 90vh;
    border: 1px solid $primary;
    color: $primary;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: var(--radius-modal);
    position: relative;
    cursor: pointer;
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-sm);
    line-height: var(--text-line-height);
    transition: width 0.4s ease;
    background-color: $white-color;
    overflow: hidden;
    width: 3rem;
  
    &.expanded {
      width: $expanded-width;
    }
  
    .chevron-icon {
      height: 2.188rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $chevron-bg;
      border:none;
        .collapse-text {
          writing-mode: horizontal-tb;
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-xl);
          color: $white-color;
          margin-left: var(--spacer-050);
        }
    }
  
    .collapsible-label {
      writing-mode: vertical-rl;
      text-align: end;
      transform: rotate(180deg);
      font-style: italic;
      padding: var(--spacer-100) var(--spacer-075);
    }
  
    .panel-content {
      display: flex;
      flex-direction: column;
      writing-mode: horizontal-tb;
      height: 100%;
      width: 100%;
      gap: var(--spacer-100);
      justify-content: space-between;
  
      .main-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-100);
        padding: var(--spacer-150) var(--spacer-125);
  
        .panel-width {
          width: 100%;
          text-align: start;
  
          .panel-label {
            color: $gray-darkest;
          }
        }
      }
  
      .search-clear {
        display: flex;
        gap: var(--spacer-100);
        padding: var(--spacer-150) var(--spacer-125);
        border-top: 1px solid $gray-medium;
      }
    }
  }
 /* Main layout container */
.main-layout-container {
  display: flex;
}

/* Left panel - Search form */
.left-panel {
  flex-shrink: 0;
}

/* Right panel - Table area */
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: var(--spacer-200);
  overflow: hidden;
}

.search-collapsible {
  $size: calc(20 * $base);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: calc($fontBase * $fontLineHeight + $paddingLvl6LR*2);
  height: 100%;

  background-color: $white-color;

  border: $lineThin solid $primary;
  border-radius: $borderRadiusModal;

  // transition: width $animSpeed;

  &.expanded {
    width: $size;

    outline: $lineThin solid $primary;

    .toggle {
      button {
        span {
          display: inline;
        }

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .toggle {
    height: calc(($fontBase * $fontLineHeight) + ($paddingLvl3MinTB * 2));

    button {
      @include clickableFeedback1();

      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;

      gap: $paddingLvl3MinS;
      padding: $paddingLvl3MinTB $paddingLvl3MinLR;

      background-color: $primary;
      border: none;

      svg {
        transform: rotate(0deg);

        transition: transform 0ms;

        path {
          stroke: $white;
        }
      }

      span {
        @include textBaseHightlight($fontBase, $white);

        display: none;
      }
    }
  }

  .collapsed-label {
    @include textFilterNotSelected();

    width: 100%;
    height: 50rem; // big enough to fit text
    align-content: center;

    padding-top: $paddingLvl4TB;
    
    writing-mode: sideways-lr;
    text-align: end;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .fields {
      @include paddingLvl3();
      @include divider();

      flex-grow: 1;

      .input-filter {
        max-width: 100%;
      }
    }

    .actions {
      @include paddingLvl3();
    }
  }
}