$form-textArea-border-radius: var(--radius-0100, 16px);
$form-textArea-border-color: var(--ff-base-600, #253DF4);
$form-textArea-focus-outline: 2px solid var(--ff-base-600, #253DF4);

.form-input-box{
    .custom-textarea {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        resize: none; 
        border-radius: $form-textArea-border-radius !important;
        border: 1px solid $form-textArea-border-color !important;
        font-size: 16px;
        -webkit-overflow-scrolling: touch; 
        flex-grow: 1;
        &:active,
        &:focus {
            outline: $form-textArea-focus-outline !important;
        }
    
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .input-group-text{
        height: 100%;
    }
    .icon-wrapper {
        display: flex !important;
        justify-content: center !important;
        
    }
    .icon-top{
        align-items: flex-start !important;
        padding-top: 0.75rem;
    }
    .icon-center  {
        align-items: center !important;
    }
    .icon-bottom  {
        align-items: flex-end !important;
        padding-bottom: 0.75rem;
    }
}
