// ----------------------------
// Variable assignments
// ----------------------------
$primary: var(--ff-primary);
$danger: var(--ff-danger);
$secondary: var(--secondary);
$secondary-dark: var(--secondary-dark);

$ff-white: var(--ff-white);
$white-200: var(--white-200);
$ff-black: var(--ff-black);

$gray-darkest: var(--ff-gray-darkest);
$gray-medium: var(--ff-gray-medium);
$gray-medium-dark: var(--ff-gray-medium-dark);
$gray-light: var(--gray-light);

$font-size-xs: var(--font-size-xs);
$font-size-12: var(--font-size-12);
$font-size-15: var(--font-size-15);

$font-weight-sm: var(--font-weight-sm);
$font-weight-regular: var(--font-weight-regular);
$font-weight-lg: var(--font-weight-lg);

$default-font-color: var(--default-font-color);

$spacer-050: var(--spacer-050);
$spacer-100: var(--spacer-100);
$spacer-150: var(--spacer-150);
$spacer-200: var(--spacer-200);

$radius-lg: var(--radius-lg);

$text-line-height: 120%;

// ----------------------------
// Imports
// ----------------------------
@use "./v8-scss/mixins";

// ----------------------------
// Styles
// ----------------------------
.file-upload {
  background-color: transparent;
}

.upload-progress-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-progress {
  border-color: $secondary;
}

.upload-progress-bar {
  margin-top: 1.375rem;
}



.file-upload-dragover {
  border-color: $secondary-dark !important;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-text {
  @include mixins.font-style($font-size-15, $font-weight-regular, $gray-darkest);
  text-align: center;
  margin: 0;
  margin-top: 0.688rem;
}

.upload-size-text {
  @include mixins.font-style($font-size-12, $font-weight-medium, $gray-medium-dark);
  text-align: center;
  margin-top: 0.563rem;
  display: inline-grid;
  line-height: normal;
}

.upload-text-description {
  color: $gray-medium-dark;
  text-align: center;
  font-size: $font-size-xs;
  font-weight: $font-weight-sm;
  line-height: $text-line-height;
}

.upload-file-name {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacer-150;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.upload-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacer-100;
  align-self: stretch;
}

.upload-details {
  margin-top: $spacer-100;
  display: flex;
  height: auto !important;
  align-items: center;
  gap: $spacer-050;
  align-self: stretch;
}

.upload-form-details {
  overflow: hidden;
  color: $black;
  text-overflow: ellipsis;
  font-size: $font-size-xs;
  font-weight: $font-weight-sm;
  line-height: $text-line-height;
}

.import-error-note {
  display: flex;
  padding: $spacer-100;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacer-050;
  align-self: stretch;
  border-radius: $spacer-100;
  background-color: $gray-medium;
}

.upload-status {
  margin-top: 0.625rem;
  margin-bottom: 0rem;
  text-align: center;
  @include mixins.font-style($font-size-12, $font-weight-medium, $gray-medium-dark);
}
.file-upload-action-btn{
  margin-top: 0.688rem;
}

.upload-action-row {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.upload-status-success {
  @include upload-status-styles($primary);
}

.upload-status-error {
  @include upload-status-styles($danger);
}

.upload-status-progress {
  @include upload-status-styles($gray-medium-dark);
}

.progress {
  // height: var(--spacer-150) !important;
  --ff-progress-border-radius: var(--radius-lg) !important;
  --ff-progress-bar-bg: var(--progress-bar-bg-color) !important;
  --ff-progress-bg: var(--gray-light) !important;
  height: 7px !important;
}

.progress-stacked {
  --ff-progress-border-radius: var(--radius-lg) !important;
}

.import-container {
  width: 100%;

  .import-details {
    display: flex;
    padding: $spacer-100 0 $spacer-100 0;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid $gray-medium;

    .file-item-header-text {
      display: flex;
      justify-content: flex-start;
      width: 30%;
      color: $default-font-color;
      font-size: 0.875rem;
      font-weight: $font-weight-lg;
      line-height: $text-line-height;
    }
  }

  .file-item-content {
    display: flex;
    padding: $spacer-200 0 $spacer-200 0;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid $gray-medium;

    .import-layout-text,
    .import-workflow-text {
      width: 30%;
      color: $gray-darkest;
      font-size: $font-size-xs;
      font-weight: $font-weight-sm;
      line-height: $text-line-height;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}