$base-600: var(--ff-base-600);
$ff-white: var(--ff-white);
$gray-800: var(--ff-gray-800);
$gray-400: var(--ff-gray-400);
$ff-red: var(--ff-red-000);
$font-size-xs: var(--font-size-xs);

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 10.125rem;
  border: 0.09375rem dashed $base-600;
  border-radius: var(--radius-0100);
  background-color: $ff-white;
  cursor: pointer;
  text-align: center;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-text {
  color: $gray-800;
  text-align: center;
  font-size: $font-size-xs;
  font-weight: var(--font-weight-sm);
  line-height: var(--text-line-height);
  padding: var(--spacer-100) 0;
  margin: 0;
}

.upload-text-description {
  color: $gray-400;
  text-align: center;
  font-size: $font-size-xs;
  font-weight: var(--font-weight-sm);
  line-height: var(--text-line-height);
}

.upload-file-name {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacer-150);
  align-self: stretch;
}

.upload-boady {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-100);
  align-self: stretch;
}

.upload-details {
  margin-top: var(--spacer-100);
  display: flex;
  height: auto !important;
  align-items: center;
  gap: var(--spacer-050);
  align-self: stretch;
}

.upload-form-details {
  overflow: hidden;
  color: var(--ff-black);
  text-overflow: ellipsis;
  font-size: $font-size-xs;
  font-weight: var(--font-weight-sm);
  line-height: var(--text-line-height);
}

.import-error-note {
  display: flex;
  padding: var(--spacer-100);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-050);
  align-self: stretch;
  border-radius: var(--spacer-100);
  background-color: var(--ff-gray-000);
}

.upload-status-success {
  @include upload-status-styles($base-600);
}

.upload-status-error {
  @include upload-status-styles($ff-red);
}

.upload-status-progress {
  @include upload-status-styles($gray-400);
}

.progress {
  height: var(--spacer-150) !important;
}

.progress,
.progress-stacked {
  --ff-progress-border-radius: var(--radius-0150) !important;
}