$gray-medium: var(--ff-gray-medium);
$primary: var(--ff-primary);
$white-color: var(--ff-white);
.modal-small {
  width: $modalWidthSmall !important;
  max-width: calc(100% - ( $base*2 ) ) !important;
  margin: $base auto !important;

  .history-modal-body {
    $colorMain: $gray-darkest;
    $colorSecondary: $gray-medium;

    padding: var(--spacer-200) var(--spacer-250) !important;
    margin-top: var(--spacer-200);
    position: relative;

    /* Timeline styles */
    .timeline {
      position: absolute;
      top: calc(0px - $base/2);
      bottom: 0;
      left: 121px;
      width: $lineThick;
      background-color: $colorMain !important; 
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        left: calc(0px - ( $base - $lineThick/2 ) );
        top: 0;
        width: $base*2;
        height: $base*2;
        background-color: $white-color !important;
        border: $lineThick solid $colorMain !important;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }




      &::after {
        content: "";
        position: absolute;
        width: $base;
        height: $base;
        background-color: $colorMain !important;
        border-radius: 50%;
        top: $base/2;
        left: calc(0px - ( $base/2 - $lineThick/2 ) );
        z-index: 2;
      }
    }

    .history-entry {
      position: relative;
      background-color: $white-color !important; 
      z-index: 2; 
    }

    .version-grid {
      display: grid;
      gap: 1rem;
      align-items: center;
      margin-bottom: $base/2;

      .revert-btn {
        justify-self: end;
      }
    }
    .version-style{
        padding: 0.688rem var(--spacer-100);
        border-radius: var(--radius-lg);
    }

    .major-version-grid {
      @extend .version-style;
      @extend .version-grid;
      @extend .history-entry;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 0fr;
      border: 1px solid $colorMain;
    }
    .workflow-major-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .minor-version-grid {
      @extend .version-style;
      @extend .version-grid;
      @extend .history-entry;
      margin-left: 2rem;
      grid-template-columns: 1.75fr 1fr 1fr 1fr 1fr 0fr;
      border: $lineThin solid $colorSecondary;
    }
    .workflow-minor-grid {
      grid-template-columns: 0.77fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    .text-style{
        color: var(--default-font-color) !important;
        font-size: var(--font-size-xs);
    }
    .content-headings {
      @extend .text-style;
      font-weight: var(--font-weight-xl);
    }

    .normal-text {
      @extend .text-style;
      font-weight: var(--font-weight-sm);
    }
  }
}

.analyse-submision-history-modal{
  min-height: 80vh;
}
