.modal-70w {
  width: 66.2% !important;
  max-width: 66.2% !important;
  margin: var(--spacer-150) auto !important;

  .history-modal-body {
    padding: var(--spacer-200) var(--spacer-250) !important;
    margin-top: var(--spacer-200);
    position: relative;
    /* Timeline styles */
    .timeline {
      position: absolute;
      top: -8px;
      bottom: 0;
      left: 121px;
      width: 2px;
      background-color: var(--ff-primary, #253DF4) !important; 
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        left: -15px;
        top: 0;
        width: 32px;
        height: 32px;
        background-color: var(--ff-white) !important;
        border: 2px solid var(--ff-primary) !important;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: var(--ff-primary) !important;
        border-radius: 50%;
        top: 8px;
        left: -7px;
        z-index: 2;
      }
    }

    .history-entry {
      position: relative;
      background-color: var(--ff-white) !important; 
      z-index: 2; 
    }

    .version-grid {
      display: grid;
      gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;

      .last-edit-on {
        grid-column: 2;
      }

      .last-edit-by {
        grid-column: 3;
      }

      .published-on {
        grid-column: 4;
      }

      .type {
        grid-column: 5;
      }

      .revert-btn {
        grid-column: 6;
        justify-self: end;
      }
    }

    .major-version-grid {
      padding: 0.688rem var(--spacer-100);
      border-radius: var(--radius-0150);
      border: 2px solid var(--ff-primary);
      @extend .version-grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 0fr 1fr;
    }
    .workflow-major-grid {
      padding: 0.688rem var(--spacer-100);
      border-radius: var(--radius-0150);
      border: 2px solid var(--ff-primary);
      @extend .version-grid;
      grid-template-columns: 2.5fr 1.5fr 1fr 1.5fr 1fr 1.5fr;
    }

    .minor-version-grid {
      padding: 0.688rem var(--spacer-100);
      border-radius: var(--radius-0150);
      border: 2px solid var(--ff-gray-100);
      @extend .version-grid;
      margin-left: 2rem;
      grid-template-columns: 1.75fr 1fr 1fr 1fr 0fr 1fr;
    }
    .workflow-minor-grid {
      padding: 0.688rem var(--spacer-100);
      border-radius: var(--radius-0150);
      border: 2px solid var(--ff-gray-100);
      @extend .version-grid;
      margin-left: 2rem;
      grid-template-columns: 0.77fr 1fr 1fr 1fr 1fr 1fr;
    }

    .bold-headings {
      color: var(--ff-gray-800, #303436) !important;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-xl);
    }

    .normal-text {
      color: var(--ff-gray-800, #303436) !important;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-sm);
    }
  }
}
.modal-50w {
  .modal-header {
    border-bottom: 1px solid var(--ff-gray-000) !important;
  }
  .modal-body {
    padding: var(--spacer-200) var(--spacer-250) !important;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: var(--text-line-height);
  }
  .modal-footer {
    display: flex;
    justify-content: flex-start !important;
    border-top: 1px solid var(--ff-gray-000) !important;
  }
}
