// import function
@import "bootstrap/scss/functions";

//variable override
@import "./variables";
//default
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

//theme override
@import "./typography";
@import "./theme";
@import "./v8-scss/theme";
@import "./card";

//component override
@import "./stepper";
// @import "./button";
@import "./table"; 
@import "./layout";
@import "./forms";
@import "./icon";
// @import "./modal";
@import "./v8-scss/modal.scss";
@import "./fileUpload";
@import "./inputBox";
@import "./aiAssistant";
@import "./customTextArea.scss";
@import "./historyModal";
@import "./formHistoryModal";
@import "./customDateRangePicker";
@import  "./assignUser";
@import "./collapsibleSidebar.scss";

@import "./skeletonLoader";
@import "./v8-scss/bpmn.scss";
// util class
@import "./utils/index";
//rest of bootstrap
@import "./external/formio.scss";
@import "./external/toastify.scss";
@import "bootstrap/scss/bootstrap";

@import "./v8-scss/search";
@import "./v8-scss/button";
@import "./v8-scss/dateRangePicker";
@import "./v8-scss/switch";
@import "./v8-scss/selectDropdown";
@import "./v8-scss/dropdownButton";
@import "./v8-scss/textInput";
@import "./v8-scss/textArea";
@import "./v8-scss/radio";
@import "./v8-scss/alert";
@import "./v8-scss/urlInput";
@import "./v8-scss/formCreateLayout";
@import "./v8-scss/processCreateLayout";
@import "./v8-scss/dropdownMultiselect";
@import "./v8-scss/table";
@import "./v8-scss/checkbox";
@import "./v8-scss/breadCrumbs";
@import "./v8-scss/formEditSettings";
@import "./v8-scss/variableSelection";
@import "./v8-scss/customInfo";
@import "./v8-scss/formEditActions";
@import "./v8-scss/formbuilder";
@import "./v8-scss/filterDropdown";
@import "./v8-scss/modal";
@import "./v8-scss/dragandrop";
