// import function
@import "../node_modules/bootstrap/scss/functions";

//variable override
@import "./variables";
//default
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//theme override
@import "./typography";
@import "./theme";
@import "./v8-scss/theme";
@import "./card";

//component override
@import "./stepper";
@import "./button";
@import "./table"; 
@import "./layout";
@import "./forms";
@import "./icon";
@import "./modal";
@import "./fileUpload";
@import "./inputBox";
@import "./aiAssistant";
@import "./customTextArea.scss";
@import "./historyModal";
@import "./formHistoryModal";
@import "./customDateRangePicker";
@import  "./assignUser";
@import "./collapsibleSidebar.scss";

@import "./skeletonLoader";
@import "./bpmn.scss";
// util class
@import "./utils/index";
//rest of bootstrap
@import "./external/formio.scss";
@import "./external/toastify.scss";
@import "~bootstrap/scss/bootstrap";

//v8 Custom component style override
@import "./v8-scss/button";
