// import function
@import "bootstrap/scss/functions";

//variable override
@import "./variables";
//default
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

//theme override
@import "./typography";
@import "./theme";
@import "./v8-scss/theme";
@import "./card";

//component override
@import "./stepper";
// @import "./button";
@import "./table"; 
@import "./layout";
@import "./forms";
@import "./icon";
@import "./modal";
@import "./fileUpload";
@import "./inputBox";
@import "./aiAssistant";
@import "./customTextArea.scss";
@import "./historyModal";
@import "./formHistoryModal";
@import "./customDateRangePicker";
@import  "./assignUser";
@import "./collapsibleSidebar.scss";

@import "./skeletonLoader";
@import "./bpmn.scss";
// util class
@import "./utils/index";
//rest of bootstrap
@import "./external/formio.scss";
@import "./external/toastify.scss";
@import "bootstrap/scss/bootstrap";

@import "./v8-scss/search";
@import "./v8-scss/button";
@import "./v8-scss/dateRangePicker";
