$form-input-border-radius: var(--radius-0150, 24px);
$form-input-border-color: var(--ff-base-600, #253DF4);
$form-input-focus-outline: 2px solid var(--ff-base-600, #253DF4);
$input-error-border-color: var(--ff-red-000, red);
$input-error-box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
$validation-text-color: var(--ff-red-000, red);
$vadiation-astrisk-color: var(--ff-base-600, blue);

.form-input {
  width: 100%;
  height: var(--spacer-200);
  flex-shrink: 0;
  border-radius: $form-input-border-radius;
  border: 1px solid $form-input-border-color;
  background: var(--ff-white);
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  resize: none;
  padding-left: 18px !important;

  &:active,
  &:focus {
    outline: $form-input-focus-outline !important;
  }

  &::-webkit-scrollbar {
    display: none;
    /* For Webkit browsers */
  }

  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  scrollbar-width: none;
  /* For Firefox */
}

.input-error {
  border-color: $input-error-border-color;
  outline: none;
  box-shadow: $input-error-box-shadow;
}

.validation-text {
  font-size: small;
  color: $validation-text-color !important;
}

.vadiation-astrisk {
  color: $vadiation-astrisk-color;
}

.input-dropdown{
  &.dropdown-border{
    border-radius: var(--rem-100, 16px) var(--rem-100, 16px);
    border: 1px solid var(--ff-primary, #253DF4);
    outline: 1px solid var(--ff-primary, #253DF4);
  }
  .border-input{
    border-radius:var(--rem-100, 16px) var(--rem-100, 16px) 0px 0px !important;
  }
  // .default-arrow {
  //   &::after {
  //     display: none !important;
  //   }
  
  //   svg {
  //     transition: transform 0.3s ease;
  //     transform: rotate(0deg);
  
  //     &.collapsed {
  //       transform: rotate(180deg);
  //     }
  //   }
  
  //   &.collapsed svg {
  //     transform: rotate(180deg);
  //   }
  
  //   &:not(.collapsed) svg {
  //     transform: rotate(0deg);
  //   }
  // }
  .collapsed{
    .input-group-text{
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  }
  .list-group{
    display: flex;
  padding: 8px 0px;
  flex-direction: column;
  align-self: stretch;
  ::-webkit-scrollbar{
    width: 0.5rem;
  }
  
  .list-group-item{
    &.list-first-item-btn{
      font-weight: bolder;
      cursor: pointer;
  
    }
    display: flex;
    padding: 8px var(--rem-100, 16px);
    align-items: center;
    align-self: stretch;
    cursor: pointer;
    border: none;
    color: var(--base-base-60, #253DF4);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; 
  }
  }
}