
.loader {
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
.page-item .page-link {
    color: #0072ed !important;
}

.react-bootstrap-table table {
    min-height: 60vh;
  }
  
  .react-bootstrap-table{
    min-height: 65vh;
  }
