
.loader {
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
.page-link {
  color: var(--ff-primary);

  &:hover,
  &:focus {
    color: var(--ff-primary);
    outline: none;
    box-shadow: none;
  }

  &.active,
  .active > & {
    z-index: 3;
    background-color: var(--ff-primary);
    border-color: var(--ff-primary);

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}





