.loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.manage-tabs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.manage-tabs-header .nav {
  flex-wrap: nowrap;
  align-items: center;
}

.manage-tabs-action {
  margin-left: auto;
}

.page-link {
  color: var(--ff-primary);

  &:hover,
  &:focus {
    color: var(--ff-primary);
    outline: none;
    box-shadow: none;
  }

  &.active,
  .active > & {
    z-index: 3;
    background-color: var(--ff-primary);
    border-color: var(--ff-primary);

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
