.btn-group-xxs>.btn, .btn-xxs, .component-btn-group .component-settings-button{
    width: auto !important;
    height: auto !important;
}

.builder-sidebar .btn {
    width: 100%;
}

.formio-form, 
.formio-builder-form {
    .form-group {
      margin-bottom: 1rem;
    }
  }