.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 
.table-container-admin{
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 2px 8px rgba(66, 66, 66, 0.07);
    border-radius: 8px;
    overflow-y: scroll;
}
 
.container-admin .react-bootstrap-table-pagination-list{
    margin-top: 1rem;
} 

