.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.access-roles-col{
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.table-container-admin {
  background: #ffffff;
  overflow-y: auto !important;
  max-height: calc(100vh - 14rem);
  .MuiDataGrid-columnHeader--last,
  .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: flex-start !important;
  }
  .MuiDataGrid-cell>div {
    align-items: center;
  }
}
