@import "_mixins";

// ✅ Color Variables
$alert-bg: var(--white-200);
$alert-text-color: var(--secondary-dark);

$alert-passive: var(--gray-medium-dark);
$alert-focus: var(--primary-dark);
$alert-error: var(--orange-100);
$alert-warning: var(--red-100);

// ✅ Animation Variables
$alert-drop-duration: 0.3s;
$alert-height: 3.5rem;

$font-size-15: var(--font-size-15);
$font-weight-medium: var(--font-weight-medium);

.custom-alert {
    width: 100%;
    max-height: $alert-height;
    padding: 17px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $alert-bg;
    border: 1px solid $alert-passive;
    border-radius: 5px;

    &-left {
        flex: 1;
    }

    &-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-text {
        @include font-style($font-size-15, $font-weight-medium, $alert-text-color);
    }

    // ✅ Variants (Border Colors)
    &-passive {
        border-color: $alert-passive;
    }

    &-focus {
        border-color: $alert-focus;
    }

    &-error {
        border-color: $alert-error;
    }

    &-warning {
        border-color: $alert-warning;
    }
}
