@import "_mixins";

// Variables
$secondary-dark: var(--secondary-dark);
$font-size-xl: var(--font-size-xl);
$font-weight-regular: var(--font-weight-regular);
$font-size-s: var(--font-size-s);
$gray-medium-dark: var(--gray-medium-dark);

// Underline and spacing variables
$underline-offset: 0.188rem; 
$breadcrumb-gap: 0.2rem;

$breadcrumb-divider: ">";

.breadcrumb-custom {
    &.breadcrumb-default {
        @include font-style($font-size-xl, $font-weight-regular, $secondary-dark);
    }
    
    &.breadcrumb-minimized {
        @include font-style($font-size-s, $font-weight-regular, $gray-medium-dark);
    }

    &.breadcrumb-underline {
    
        a,
        .breadcrumb-item {
          text-decoration: underline;
        }
    
        .breadcrumb-item.active {
            text-decoration: underline;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .breadcrumb-item {
        color: inherit;
        text-decoration: underline;
        text-underline-offset: $underline-offset !important;

        &.active {
            text-decoration: none;
            color: inherit;
        }

        &+.breadcrumb-item::before {
            content: $breadcrumb-divider;
            color: inherit;
            padding-right: $breadcrumb-gap !important;
        }
                  
        &+.breadcrumb-item {
            padding-left: $breadcrumb-gap;
        }
    }
}