@import "_mixins.scss";

.form-edit-settings {
    // @include vertical-padding(); // alreafy body-section had padding of same 
    overflow: auto;
  
    .grid-section {
      @include grid-layout();
      // @include vertical-padding(); // alreafy body-section had padding of same 
      // border-top: 1px solid $border-color;
      // margin-top: 17px;
      margin-bottom: 18px; //alrady have vertical padding of body section 16px section header 13 px
  
      .settings-header {
        grid-row: 1;
        @include section-header();
        .settings-header-text {
          @include font-style($font-size-xl, $font-weight-medium, $gray-dark);
            line-height: 120%;
            /* 24px */
            text-transform: capitalize;
          }
      }
  
      .settings-contents {
        grid-row: 2;
        @include section-content();
        .form-name-container{
          margin-bottom: 1.875rem;
        }
        .description-container{
          margin-bottom: 1.5rem;
        }
        &.permissions-container{
          display: flex;
          flex-direction: column;
          gap: 1.875rem;
        }
      }
    }
        .settings-labels {
          @include font-style($font-size-m, $font-weight-medium, $gray-dark);
          margin-bottom:0.75rem;
        }
  }