
$font-family-base: var(--font-family-base);
$line-height-default: var(--line-height-default);
$letter-spacing-default: var(--letter-spacing-default);
$font-color: var(--secondary-dark);

// Mixin for Typography
@mixin font-style($size, $weight, $color: $font-color) {
  font-family: $font-family-base;
  font-size: $size;
  font-weight:$weight;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  color: $color;
}

// Mixin for consistent row alignment
@mixin rowLayout($maxHeight: 72px, $justify: space-between, $gridRow) {
  grid-row: $gridRow;
  display: flex;
  align-items: center;     // vertical centering
  justify-content: $justify;
  max-height: 0;           
  overflow: hidden;        
  padding: 0;
  border-bottom: none;
  transition: 
    max-height 0.3s ease, 
    padding 0.3s ease, 
    border-bottom 0.3s ease;
  &:not(:empty) {
    max-height: $maxHeight;      
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray-x-light);
  }
}

//mixin for fixed gap between. 
@mixin componetAlign {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

@mixin centerAlign {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin vertical-padding {
  padding: var(--spacer-100) 0 ;
}


//Settings Card Mixins

@mixin settings-grid($gap: 21px, $border-color: #E5E5E5, $padding: 18px 0) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap;
  border-top: 1px solid $border-color;
  padding: $padding;
  margin-top: 17px;
  margin-bottom: 18px;
}

// Grid item mixin
@mixin settings-grid-item($height: 220px, $width: 350px, $border-radius: 5px, $border-color: #EDEDED, $bg-color: #FCFCFC, $hover-border: #B8ABFF) {
  height: $height;
  width: $width;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background: $bg-color;
  text-align: center;
  transition: border 0.3s ease;

  &:hover {
    border: 1px solid $hover-border;
    box-shadow: 0 0.125rem 0.5rem rgba(137, 105, 242, 0.15);
  }
}