@import "_mixins.scss";
$gray-medium-dark-color: var(--gray-darkest);
$font-weight-medium: var(--font-weight-medium);

.reusable-large-modal {
    @include large-modal-popover();
    
        &.modal-dialog {
            width: 45rem !important;
            max-width: 45rem !important;
        }
        .modal-header-top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 1rem;
        }
        .modal-title-text {
          padding: 0 !important;
        }
        .modal-close-btn {
          background: none;
          border: none;
          align-items: center;
          cursor: pointer;
        }
}
.task-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .status-text {
    font-size: 0.875rem;
    font-weight: $font-weight-medium;
    color: $gray-medium-dark-color;
  }
}