.search-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 20rem;
  
    &.search-disabled {
      opacity: 0.6;
      pointer-events: none;
    }
  
    .search-input {
      width: 100%;
      height: 2.5rem;
      border-radius: 5px;
      padding: 11px 13px;
      border: 1px solid #ededed;
      background: #fcfcfc;
      font-weight: 400;
      font-size: 15px;
      line-height: 1;
      letter-spacing: 0;
      outline: none;
      transition: border-color 0.2s, box-shadow 0.2s;
  
      &::placeholder {
        color: #ededed;
      }
      &:focus {
        color: #4a4a4a;
        border-color: #ededed;
        background: #fcfcfc;
        &::placeholder {
          color: #b7b7b8;
        }
      }
    }
  }
  