// Import theme variables
@use "mixins";

.custom-switch-wrapper {
    display: inline-flex;
    align-items: center;
    gap: var(--spacer-050);
  }
  .custom-switch-label {
    user-select: none;
    font-size: var(--font-size-m);
  }
  .custom-switch {
    position: relative;
    width: 2.75rem;
    height: 1.5rem;
    background: var(--gray-medium);
    border-radius: 0.75rem;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
    outline: none;
    box-shadow: none;
    border: none;
  }
  .custom-switch-on {
    background: var(--green-100);
  }
  .custom-switch-on:hover:not(.custom-switch-disabled) {
      box-shadow: 0 0 0 2px var(--green-200);
    }
  .custom-switch-on-primary{
    background: var(--primary-dark);
    box-shadow: none;
  }
  .custom-switch-off {
    background: var(--gray-x-light);
  }
  .custom-switch-off-binary{
    background: var(--red-100);
  }
    .custom-switch-on-primary:hover:not(.custom-switch-disabled) {
        box-shadow: 0 0 0 1px var(--vivid-100);
    }
    .custom-switch-off:hover:not(.custom-switch-disabled) {
        box-shadow: 0 0 0 1px var(--gray-medium);
    }
    .custom-switch-off-binary:hover:not(.custom-switch-disabled) {
        box-shadow: 0 0 0 1px var(--red-200);
    }
  .custom-switch-focused:not(.custom-switch-disabled) {
    box-shadow: none;
  }
  .custom-switch-disabled {
    cursor: not-allowed;
    border: 1px solid var(--gray-x-light);
    background: var(--gray-x-light);
    opacity: 0.5;
  }
  .custom-switch-slider {
    position: absolute;
    left: 0.125rem;
    top: 0.125rem;
    width: 1.25rem;
    height: 1.25rem;
    background: var(--white-300);
    border-radius: 50%;
    transition: left 0.2s;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.2); /* 0 1px 3px */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-switch-on,.custom-switch-on-primary{
      .custom-switch-slider {
          left: 1.375rem;
        }
  }
  .custom-switch-tick {
    display: block;
  }