.custom-switch-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  .custom-switch-label {
    user-select: none;
    font-size: 1rem;
  }
  .custom-switch {
    position: relative;
    width: 2.75rem;
    height: 1.5rem;
    background: #ccc;
    border: none;
    border-radius: 0.75rem;
    outline: none;
    cursor: pointer;
    padding: 0;
    display: inline-flex;
    align-items: center;
  }
  .custom-switch-on {
    background: #00C49A;
  }
  .custom-switch-on:hover:not(.custom-switch-disabled) {
      box-shadow: 0 0 0 2px #007B61;
    }
  .custom-switch-on-primary{
    background: #B8ABFF;
    box-shadow: none;
  }
  .custom-switch-off {
    background: #E5E5E5;
  }
  .custom-switch-off-binary{
    background: #E57373;
  }
    .custom-switch-on-primary:hover:not(.custom-switch-disabled) {
        box-shadow: 0 0 0 1px #7A6FB6;
    }
    .custom-switch-off:hover:not(.custom-switch-disabled) {
        box-shadow: 0 0 0 1px #C5C5C5;
    }
    .custom-switch-off-binary:hover:not(.custom-switch-disabled) {
        box-shadow: 0 0 0 1px #934A4A;
    }
  .custom-switch-focused:not(.custom-switch-disabled) {
    box-shadow: none;
  }
  .custom-switch-disabled {
    cursor: not-allowed;
    border: 1px solid #E5E5E5;
    background: #E5E5E580;
  }
  .custom-switch-slider {
    position: absolute;
    left: 0.125rem;
    top: 0.125rem;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border-radius: 50%;
    transition: left 0.2s;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.2); /* 0 1px 3px */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-switch-on,.custom-switch-on-primary{
      .custom-switch-slider {
          left: 1.375rem;
        }
  }
  .custom-switch-tick {
    display: block;
  }