
.system-content-block {
  .system-content-table {
    height: -webkit-fill-available;
    width: 100%;
  }
}

.form-content-block {
  border: 1px solid var(--gray-x-light);
  height: 38.125rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.variable-right-container {
  flex-basis: 28%;
  flex-grow: 0;
  flex-shrink: 0;
  .variable-right-content {
    border: 1px solid var(--gray-x-light);
    height: 38.125rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
  }
  .scroll-vertical {
    .item-container {
      margin-bottom: 1.5rem;
      .label {
        color: #9E9E9E;
        font-size: 1rem;
        font-weight: 400;
      }
      .value {
        color: var(--secondary-dark);
        font-weight: 500;
        font-size: 1.1rem;
        margin-bottom: 0.25rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--gray-x-light);
      }
    }
    .alternative-label-container {
      margin-bottom: 2rem;
      width: 100%;
      .label {
        margin-bottom: 0.75rem;
        display: block;
        color: var(--secondary-dark);
      }
    }
    .button-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.variable-page-container {
  .variable-page-body {
    .variable-left-container {
        width: 100%;
      flex: 1;
    }
    .variable-right-container {
      flex-basis: 28%;
      flex-grow: 0;
      flex-shrink: 0;
    }
    .variable-page-body-form {
      display: flex;
      width: 100%;
      .variable-left-container {
        flex-basis: 70%;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 1rem;
      }
    }
  }
}
