
$primary: var(--ff-primary);
$gray-darkest: var(--ff-gray-darkest);
.bpm-container{
  height:100%;
  position: absolute;
  width: 100%;
  overflow:hidden;
}
.bpmn-viewer-container{ 
  position:relative; 
  min-height: 45vh; 
  min-width: 60vw; 
  width: 100%;
  height: 100%;
}

.border-1{
  border-width: 1px !important;
}
.border-dark{
  --ff-border-opacity: 1;
    border-color: rgba(var(--ff-dark-rgb), var(--ff-border-opacity)) !important;
}
.border{
  border: var(--ff-border-width) var(--ff-border-style) var(--ff-border-color) !important;
}
 .grab-cursor {
   cursor: move;
   cursor: grab;
 }
 .highlight {
  &:not(.djs-connection) {
    .djs-visual {
      > :nth-child(1) {
        fill: $primary !important;
      }
    }
  }
  .djs-label {
    fill: $white !important;
  }
}

.btn_zoom{
  position: absolute;
  bottom: 10em;
  right:5%;
}

.djs-container svg:focus {
  outline: none !important;
}

.bpmn-main-container-editor{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    height: auto;
    resize: vertical;
    overflow: hidden;
    // max-height: 37.5rem;
    min-height: 28.125rem;
    border: 1px solid #E5E5E5;
    border-radius:5px;

}

#js-properties-panel{
  max-height: 37.5rem;
}