$primary : #0072ed;
$secondary: #6c757d;
$success: #3fb618;
$danger: red;
$dark: black;
$gray: #232323;
$info: #008599;
$white: white;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "dark": $dark,
  "white": $white,
  "gray": $gray,
  "info": $info,
);

$custom-colors: (
  "primary-100": tint-color($primary, 95%),
  "primary-300": tint-color($primary, 20%),
  "primary-400": tint-color($primary, 10%),
  "primary-500": shade-color($primary, 10%),
  "primary-600": shade-color($primary, 40%),
  "danger-400": tint-color($danger, 40%),
  "invalid": tint-color($danger, 80%),
  "box-shadow": tint-color($dark, 80%),
  "gray-100": tint-color($gray, 95%),
  "gray-200": tint-color($gray, 85%),
  "gray-300": tint-color($gray, 75%),
  "gray-400": tint-color($gray, 65%),
  "gray-500": tint-color($gray, 50%),
  "gray-600": tint-color($gray, 35%),
  "gray-700": tint-color($gray, 25%),
  "gray-800": tint-color($gray, 15%),
  "gray-900": tint-color($gray, 10%),
  "info-bg": tint-color($danger, 80%),
  "text-shadow": #ffffff66,
);

// Merge the maps

$theme-colors: map-merge($theme-colors, $custom-colors);

// use gray-200 instead light-gray
// use gray instead deep gray.