.table-container{
    
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    box-shadow: 0px 2px 8px rgba(66, 66, 66, 0.07);
    border-radius: 8px;
    overflow-y: scroll;
    max-height: 25rem;
} 

// .table th ,
// .table tr {
//     vertical-align: middle;
// }
 

.search-role {
    margin-bottom: 1.75rem;
    margin-top: 1.875rem;
    display: flex;
}
 
 
.user-list{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: #09174A;
    display: flex;
    align-items: baseline;
    height: 1.5rem;
    width: 4.25rem;
}
.btn-close{
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
}
.modal-title{
    font-weight: 600;
    color: #09174A;
}
.container-admin {
    .row{
        align-items: center;
    }
}
.formsflow-paginator{
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 4.938rem;
    margin-right: 5.188rem;
    padding-left: 1.938rem;
    padding-right: 1.938rem;
    border: 1px solid #ECECEC;
    box-shadow: 0px 2px 8px rgba(66, 66, 66, 0.07);
    border-radius: 8px;
}
.paginator-btn{
    border-radius: 50%;
    color: #838383;
    border: none;
    margin-left: 21px;
    font-weight: 600;
}
.paginator-btn:focus{
    outline: 0;
    border: none;
}
.paginator-btn:active{
    border: none;
    outline: none;
}
.paginator-active{
    background-color: #F0F0F0;
}

.react-bootstrap-table{
    width: auto !important;
}

.user-table-container{
    overflow-y: scroll;
    max-height: 25rem;
}

.list-group{
    max-height: 25rem;
}
.role-user {
    padding-left: 9px;
    padding-right: 9px;
    height: 37px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}
.search-role-input{
    margin-right: 0;
}
.search-role-input:not(:placeholder-shown){
    box-shadow: none;
    border-right: none;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}
.role-modal-body {
    padding: var(--spacer-200) var(--spacer-250) !important;
    display: flex;
    gap: var(--spacer-150);
    flex-direction: column;
  }
.role-details{
    display: flex;
    flex-direction: column;
    gap: var(--spacer-150);
}

.permission-tree {
    // max-height: 50vh;
    // overflow: auto;
    .form-check.fw-bold {
      font-weight: var(--font-weight-lg);
    }
  
    .tree-branch {
      position: relative;
      margin-left: .4rem;
      padding-left: var(--spacer-150);
      border-left: 0.125rem solid transparent;
      margin-top: var(--spacer-075);
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0.6rem;
        width: 0.031rem;
        background: var(--ff-primary);
      }
    }
  
    .tree-node {
      position: relative;
      padding-left: var(--spacer-150);
      margin-bottom: var(--spacer-075);
      
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -1.5rem;
        width: 1.5rem;
        height: 0.063rem;
        background-color: var(--ff-primary);
      }
  
      &.last-child::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1.5rem;
        width: 0.125rem;
        height: 45%;
        background-color: var(--ff-white); 
      }
    }
  }
  
  
@media (max-width: 768px) {
    .font-size{
        white-space: nowrap;
        margin-top: 2px;
    }
 
}