.resizable-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 16px;
}

.resizable-column {
  position: relative;
  background-color: var(--ff-body-bg);
}

.column-resizer {
  position: absolute;
  top: 0;
  right: -3px;
  width: 6px;
  height: 100%;
  z-index: 2;
}

.column-resizer::before,
.column-resizer::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color:var(--ff-body-bg);
  transition: background-color 0.2s;
}

.column-resizer::before {
  left: 1px;
  background-color: #0d6efd;
  height: 20px;
}

.column-resizer::after {
  right: 1px;
  background-color: #0d6efd;
  height: 20px;
}

.resizable-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto; /* Change from overflow-x to overflow */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  
  border-radius: var(--radius-md) !important;
  border: 1px solid var(--ff-gray-medium-dark);
}

/* Webkit (Chrome, Safari, newer versions of Opera) scrollbar styling */
.resizable-table-container::-webkit-scrollbar {
  margin-top: 2px;
  width: 8px;
  height: 8px;
}

.resizable-table-container::-webkit-scrollbar-track {
  background: var(---ff-gray-medium-dark);
  border-radius: 4px;
}

.resizable-table-container::-webkit-scrollbar-thumb {
  background: var(--ff-primary-light);
  border-radius: 4px;
}

.resizable-table-container::-webkit-scrollbar-thumb:hover {
  background: var(--ff-primary-light);;
}

.resizable-table thead {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--ff-body-bg);
}

.resizable-table thead th {
  border-bottom: 1px solid var(--ff-gray-medium);
  padding: 6px;
  font-weight: 600;
  user-select: none;
}

.resizable-table tbody td {
  padding: 6px;
  border-bottom: 1px solid var(--ff-gray-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.resizable-table tbody tr td:last-child,
.resizable-table thead tr th:last-child {
  position: sticky;
  right: 0;
  background-color: var(--ff-body-bg);;
  z-index: 2;
  /* box-shadow: -2px 0 3px rgba(0,0,0,0.1); */
}
.container-wrapper{
  padding: 16px;
  border-radius: var(--radius-md) !important;
  background-color: var(--ff-body-bg);
}

